.footer{
	color: $white-color;
	padding: 1.2rem 0;
	
	&__copyright{
		text-align: right;
	}

	&__link{
		color: inherit;
		display: block;
		
		&:hover{
			color: $link-color;
		}
	}
}

.bg-footer{
	background: #595959;
}