.header{
	padding-top: rem(30px);

	&__logo{
		
		&-link{
			display: inline-block;
		}
	}

	&__contact{
		text-align: right;
	}

	.logo__picture{
		max-width: 100%;
	}

	.phone-number{
		font-size: rem(25px);
		font-weight: $weight-bold;
	}

	.email-address{
		color: $dark-grey-color;
	}

	.phone-number,
	.email-address{
		display: inline-block;
	}

	&__line{
		margin: 0;
		color: $grey-color;
	}
	
	////// Стилизируем гамбургер //////
	
	.nav__btn{
		display: flex;
		justify-content: flex-end;
		min-width: 100%;
		margin: .7rem 0;
		display: none;
	}
	
	.btn-nav{
		border: 0;
		background: none;
		padding: .7rem;
		cursor: pointer;
		border-radius: .2rem;

		&:hover{
			background-color: $grey-color;
		}

		&__line{
			display: block;
			width: 20px;
			height: 2px;
			border-radius: 1px;
			background-color: $baze-color;
			margin-bottom: 3px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	&__nav{
		margin: rem(10px) 0;
				
		&-list{
			width: 100%;
			list-style: none;
			display: flex;
			justify-content: space-between;
			margin: rem(10px) 0;
		}

		&-link{
			display: inline-block;
			font-size: rem(19px);
			font-weight: normal;
			padding: rem(13px);
		
			&:hover{
				color: $link-color;
				text-decoration: none;
			}
		}
	}

	.pos-flex{
		justify-content: space-between;
		align-items: center;
		padding-bottom: rem(30px);
	}
}