$img-path: '../img/';

$main-font: 'Roboto', sans-serif;
$baze-line: 1.375;

$base-size: 16px;

$baze-color: #000;
$link-color: #f44336;
$white-color: #fff;
$grey-color: #ccc;
$dark-grey-color: #808080;


$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;