*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	min-width: $minWidth;
	font-family: $main-font;
	color: $white-color;
	line-height: $basis-line;
	background-color: $bg-color;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.container{
	padding: 0 15px;
	max-width: $maxWidthContainer;
	width: 100%;
	margin: 0 auto;

	// @include min768{
	// 	margin: 0 auto;
	// 	max-width: 717px;
	// }

	// @include min1201{
	// 	max-width: 934px;
	// 	padding: 0 50px;
	// }
}

.page {
	flex: 1 1 auto;
}

.title {
	font-weight: 600;
	letter-spacing: -2px;
	color: #FFFFFF;
}

.text {
	letter-spacing: 0.5px;
	color: rgba($white-color, 0.7);
}

.btn {
	color: $white-color;
	border-radius: 10px;
	max-width: 130px;
	width: 100%;
	min-height: 50px;
	font-weight: 600;
	font-size: 14px;
	line-height: 22 / 18 * 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	letter-spacing: 1px;
	padding: 0 10px;
	transition: background-color 0.3s ease 0s;

	@include min768 {
		font-size: 18px;
		max-width: 200px;
		min-height: 70px;
	}
}

.get-btn {
	background-color: $secondary-color;

	@include min992 {
		&:hover {
			background-color: darken($secondary-color, 10%);
		}
	}
}

.prev-btn {
	background-color: rgba($white-color, 0.1);

	@include min992 {
		&:hover {
			background-color: rgba($white-color, 0.2);
		}
	}
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}