.header {
  
  &__body {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include min1400 {
      min-height: 136px;
    }
  }

  &__logo {

    a {
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      line-height: 22/18*100%;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;

    @include max767 {
      height: 50px;
    }
  }
}

.menu {
  &__icon {
    display: none;

    @include max767 {
      position: relative;
      display: block;
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 5;

      span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $white-color;

        &:first-child {
          top: 0;
        }

        &:last-child {
          top: auto;
          bottom: 0;
        }
      }

      &.active {
        span {
          transform: scale(0);

          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }

          &:last-child {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
          }
        }
      }
    }
  }

  &__body {

    @include max767 {
      transform: translate(100%, 0px);
      transition: transform 0.8s ease 0s;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: auto;
      padding: 60px 10px 30px 10px;
      background-color: rgba(#000000, 1);

      &.active {
        transform: translate(0px, 0%);
      }
    }
  }

  &__list {

    @include min768 {
      display: flex;

      li {
        margin-right: 50px;
  
        &:last-child {
          margin-right: 0;
        }
      }
    }

    @include max767 {
      li {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__link {
    color: rgba($white-color, 0.67);
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: color 0.3s ease 0s;

    @include min992 {
      &:hover {
        color: #fff;
      }
    }

    @include max767 {
      font-size: 40px;
      display: block;
      text-align: center;
    }
  }
}

.icon-menu {}

