$white-color: #ffffff;
$dark-color: #000000;
$secondary-color: #25AB75;
$bg-color: #000000;

$main-font: 'PoppinsRegular', sans-serif;

$base-size: 100%;
$basis-line: 1.5;

$minWidth: 320px;
$maxWidth: 1200px;
