@font-face{
	font-family: 'RobotoRegular';
	src: url(../fonts/RobotoRegular/RobotoRegular.ttf) format('truetype'),
			url(../fonts/RobotoRegular/RobotoRegular.eot) format('eot'),
			url(../fonts/RobotoRegular/RobotoRegular.woff) format('woff');
}

@font-face{
	font-family: 'RobotoLight';
	src: url(../fonts/RobotoLight/RobotoLight.ttf) format('truetype'),
			url(../fonts/RobotoLight/RobotoLight.eot) format('eot'),
			url(../fonts/RobotoLight/RobotoLight.woff) format('woff');
}

@font-face{
	font-family: 'RobotoBold';
	src: url(../fonts/RobotoBold/RobotoBold.ttf) format('truetype'),
			url(../fonts/RobotoBold/RobotoBold.eot) format('eot'),
			url(../fonts/RobotoBold/RobotoBold.woff) format('woff');
}

@font-face{
	font-family: 'Oswald-Bold';
	src: url(../fonts/Oswald-Bold.ttf) format('truetype');
}

@font-face{
	font-family: 'Oswald-ExtraLight';
	src: url(../fonts/Oswald-ExtraLight.ttf) format('truetype');
}

@font-face{
	font-family: 'Oswald-Light';
	src: url(../fonts/Oswald-Light.ttf) format('truetype');
}

@font-face{
	font-family: 'Oswald-Medium';
	src: url(../fonts/Oswald-Medium.ttf) format('truetype');
}

@font-face{
	font-family: 'Oswald-Regular';
	src: url(../fonts/Oswald-Regular.ttf) format('truetype');
}

@font-face{
	font-family: 'Oswald-SemiBold';
	src: url(../fonts/Oswald-SemiBold.ttf) format('truetype');
}

@font-face{
	font-family: 'Oswald-VariableFont_wght';
	src: url(../fonts/Oswald-VariableFont_wght.ttf) format('truetype');
}