.header{
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 105vh;
	padding-top: rem(20px);

	&_nav{
		display: flex;
		justify-content: center;
		padding: rem(20px) rem(30px);
		position: absolute;
		transition: all .3s;
		background-color: $white-color;
		z-index: 9;
		top: 0;
		width: 100%;

		&-list{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		&-item{
			display: flex;
		}

		&-link{
			display: inline-block;
			font-family: $main-font;
			font-size: 1.1em;
			color: $dark-grey-color;
			padding: 0.25rem 0;
			margin: 0 1.5rem;
			text-transform: uppercase;
		}
	}

	&_logo{
		
		&-link{
			display: inline-block;
			margin: 0 4rem;
		}

		&-black{
			display: none;
		}
	}
}

.nav-icon{
	position: absolute;
	top: rem(27px);
	right: rem(30px);
	padding: 5px;
	width: rem(40px);
	z-index: 1;
	cursor: pointer;

	span{
		display: block;
		background-color: $dark-grey-color;
		width: rem(30px);
		height: 1px;
		transition: all .3s linear;

		&:nth-child(1),
		&:nth-child(3){
			width: rem(20px);
			margin: 0 auto;
		}

		&:nth-child(2){
			margin: 5px 0;
			width: rem(32px);
		}
	}

	&:hover span:nth-child(1),
	&:hover span:nth-child(3){
		width: rem(30px);
	}
}

.full-nav{
	background-color: $yellow-color;
	color: $dark-blue-color;
	position: fixed;
	left: 0;
	top: 96px;
	height: 100%;
	width: 100%;
	padding: 3.75rem;
	z-index: 99;
	overflow-y: hidden;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-100px);
	transition: all .4s ease-in-out;

	&.open{
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
		transition: all .4s ease-in-out;
		z-index: 99;
	}

	&_logo{
		display: flex;
		justify-content: center;
		padding: 6rem;
		color: $black-color;
	}
}

.nav-two{
	display: flex;
	justify-content: center;

	&_list{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		max-width: rem(700px);
	}

	&_item{
		display: flex;
		flex: 50%;
		background-color: #f5f5f5;
		padding: 1rem;
		border-bottom: 10px solid $yellow-color;
		border-right: 10px solid $yellow-color;
		transition: all .4s;

		&:hover{
			background-color: #ff1637;

			a,
			span{
				color: $white-color;
			}
		}
	}

	&_link{
		display: block;
		width: 100%;
		font-family: 1.4em;
		color: $dark-blue-color;
		text-transform: capitalize;
		font-weight: $weight-bold;

		span{
			color: $grey-color;
		}
	}
}

.social-icons{

	&_link{
		display: inherit;
		color: $white-color;
		border: 4px solid $white-color;
		width: rem(50px);
		height: rem(50px);
		line-height: rem(40px);
		font-size: rem(20px);
		text-align: center;
		border-radius: 50%;
		transition: all 1s ease;
		margin-top: rem(40px);

		&:hover{
			color: $black-color;
			margin-top: -10px;
			border-color: $black-color;
		}

		&:hover i{
			color: $black-color;
			margin-top: -10px;
			border-color: $black-color;
		}
	}

	&_item{
		display: inline-block;
		padding-right: 5px;
		padding-left: 5px;
	}
}

.list-inline{
	text-align: center;
	margin-top: 22px;
}

.corner-circle{
	position: absolute;
	top: 0;
	right: 0;
	width: rem(120px);
	height: rem(120px);
	background-color: $white-color;
	border-radius: 0 0 0 rem(120px);
	z-index: 2;
}

.nav-close{
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 30px;
	right: 30px;

	span{
		background-color: $dark-blue-color;
		width: 30px;
		height: 1px;
		position: absolute;
		top: 14px;

		&:nth-child(1){
			transform: rotate(45deg);
		}

		&:nth-child(2){
			transform: rotate(-45deg);
		}
	}
}