.article {
  max-width: 700px;
  padding: 0 10px 30px;
  margin: 0 auto;

  &__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 50 /34 * 100%;
    margin-bottom: 30px;

    @include max767 {
      font-size: 30px;
    }
  }

  &__info {
    display: flex;
    margin-bottom: 20px;
  }

  &__year {
    display: flex;
    color: #fff;
    justify-content: center;
    align-self: center;
    height: 25px;
    background-color: $primary-color;
    border-radius: 16px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 900;
  }

  &__category {
    font-size: 20px;
    margin-left: 25px;
    line-height: 25 /20 * 100%;

    @include max767 {
      font-size: 18px;
    }
  }

  &__text {
    p {
      @extend .text;
      margin-bottom: 20px;
    }

    img {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
}