.hello {
  padding: 38px 0 70px 0;

  @include max991{
    padding: 0 0 70px 0;
  }

  @include max767{
    padding: 0 0 60px 0;
  }

  &__container {
    display: flex;

    @include max767 {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  &__content {
    flex: 1 1 auto;
    align-items: flex-start;
    margin: 18px 110px 0 0;

    @include max991{
      margin: 18px 50px 0 0;
    }

    @include max767 {
      margin: 0px 0px 0 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 25px;

    @include max767 {
      margin-bottom: 20px;
    }
  }

  &__text {
    margin-bottom: 35px;

    @include max767 {
      margin-bottom: 22px;
      padding: 0 15px;
    }
  }

  &__btn {
    margin-bottom: 25px;

    @include max767 {
      margin-bottom: 20px;
    }
  }

  &__avatar {
    flex: 0 0 243px;
    height: 243px;

    @include max767 {
      flex: 0 0 170px;
      height: 170px;
      margin-bottom: 40px;
    }
    
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0 auto;
      max-width: 243px;
      border-radius: 50%;
      box-shadow: -5px 13px 0px 0px #EDF7FA;

      @include max767 {
        max-width: 170px;
        
      }
    }

    
  }
}