$white-color: #ffffff;
$dark-color: #21243D;
$secondary-color: #00A8CC;
$light-color: #8695A4;
$primary-color: #FF6464;
$bg-color: #ffffff;

$main-font: 'HeeboRegular', sans-serif;

$base-size: 16px;
$basis-line: 1.5;

$minWidth: 320px;
$maxWidth: 1152px;

%HeeboRegular {
	font-family: 'HeeboRegular';
	font-weight: 400;
}

%HeeboMedium {
	font-family: 'HeeboMedium';
	font-weight: 500;
}

%HeeboBold {
	font-family: 'HeeboBold';
	font-weight: 700;
}

%HeeboBlack {
	font-family: 'HeeboBlack';
	font-weight: 900;
}