.works {
  
  &__items {
    padding-bottom: 60px;

    @include max767 {
      padding-bottom: 30px;
    }
  }
}

.works__main-title {
  margin-bottom: 45px;

  @include max767 {
    margin-bottom: 20px;
  }
}

.works__item {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 30px;
  margin-bottom: 30px;

  @include min768 {
    display: flex;
    align-items: flex-start;
  }
}

.works__image {
  display: block;
  flex: 0 0 246px;
  border-radius: 6px;
  min-height: 180px;
  overflow: hidden;

  @include max767 {
    padding: 0 0 60% 0;
    margin-bottom: 17px;
  }
}

.works__body {
  flex: 1 1 auto;
  padding-left: 18px;

  @include max767 {
    padding-left: 0;
  }
}

.works__title {
  display: inline-block;
  color: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 44 / 30 * 100%;
  transition: color 0.3s ease 0s;
  margin-bottom: 15px;
  
  @include min992 {
    &:hover {
      color: $primary-color;
    }
  }

  @include max767 {
    font-size: 24px;
  }
}

.works__info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.works__year {
  display: inline-flex;
  border-radius: 16px;
  background-color: #142850;
  height: 25px;
  padding: 0 10px;
  align-items: center;
  color: #ffffff;
  font-weight: 900;
}

.works__category {
  font-size: 20px;
  line-height: 29 / 20 * 100%;
  color: #8695A4;
  margin-left: 25px;
}
