.partners.section-overley{
	background-image: url($img-path + 'bg-5.jpg');
	text-align: center;

	&::before{
		background-color: rgba($white-color, .92);
	}

	.h2{
		color: $accent-color;

		& > *{
			color: $accent-color;
		}
	}

	.partner{
		height: 100%;
		display: flex;
		margin: auto;
	}
	
	.owl-stage{
		display: flex;
		.owl-item{
			margin-top: 30px;
			img{
				max-width: 100%;
				width: auto;
				display: inline-block;
				margin: auto;
			}
		}
	}
}