:root {
  --main-color: #9C9C9C;
  --main-bgc: #0D0D11;
  --primary-color: #ffffff;
  --acent-color: #3D96F4;
  --secondary-color: #81818B;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h2, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

body {
  font-family: "Poppins";
  font-weight: 300;
  color: var(--main-color);
  background-color: #fff;
  background-color: var(--main-bgc);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.page {
  flex: 1 1 auto;
}

.button {
  display: inline-block;
  text-align: center;
  background-color: var(--acent-color);
  color: var(--primary-color);
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43; /* 22/14 */
  letter-spacing: 2px;
  padding: 14px 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #5fa8f6;
}
@media (min-width: 991.98px) {
  .button {
    padding: 16px 30px;
  }
}

.button_dark {
  background-color: rgba(129, 129, 139, 0.2);
}
.button_dark:hover, .button_dark:focus {
  background-color: rgba(129, 129, 139, 0.4);
}

.emphasis {
  position: relative;
}
.emphasis::before {
  background-color: var(--primary-color);
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  transition: transform 0.3s ease;
  transform: scale(0);
}

.emphasis:focus::before,
.emphasis:hover::before {
  transform: scale(1);
}

@media (max-width: 767.98px) {
  .icon-menu {
    position: relative;
    display: block;
    flex: 0 0 30px;
    height: 18px;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::after, .icon-menu::before {
    position: absolute;
    content: "";
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
}
@media (max-width: 767.98px) {
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
}
.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.19; /* 61/51 */
  color: var(--primary-color);
}
.title:not(:last-child) {
  margin-bottom: 15px;
}
@media (min-width: 767.98px) {
  .title {
    font-size: 44px;
    max-width: 520px;
  }
  .title:not(:last-child) {
    margin-bottom: 28px;
  }
}
@media (min-width: 991.98px) {
  .title {
    font-size: 51px;
  }
}

.content-label {
  display: inline-block;
  font-size: 11px;
  line-height: 1.54; /* 17/11 */
  padding: 11px 19px;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 30px;
  transition: border-color 0.3s ease;
}
.content-label:hover {
  border-color: rgba(129, 129, 139, 0.4);
}

.text {
  color: var(--secondary-color);
}

.content-text {
  line-height: 1.5;
  font-size: 18px;
}
.content-text:not(:last-child) {
  margin-bottom: 15px;
}
@media (min-width: 767.98px) {
  .content-text {
    max-width: 500px;
  }
  .content-text:not(:last-child) {
    margin-bottom: 33px;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(13, 13, 17, 0.7);
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  min-height: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (min-width: 767.98px) {
  .header__container {
    min-height: 116px;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media (min-width: 991.98px) {
  .header__container {
    -moz-column-gap: 35px;
         column-gap: 35px;
    min-height: 90px;
  }
}

.header__logo {
  max-width: 148px;
}
@media (max-width: 767.98px) {
  .header__logo {
    width: 32px;
    flex: 0 0 32px;
    overflow: hidden;
  }
}

@media (max-width: 767.98px) {
  .header__logo,
.header__cart,
.header__button {
    position: relative;
    z-index: 5;
  }
}

.header__menu {
  flex: 1 1 auto;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    padding: 100px 15px 30px 15px;
    overflow: auto;
    transition: transform 0.5s ease;
  }
  .menu__body::before {
    position: fixed;
    content: "";
    width: 100%;
    height: 70px;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    background-color: #000;
    z-index: 2;
    transition: transform 0.5s ease;
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  row-gap: 10px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media (min-width: 767.98px) {
  .menu__list {
    justify-content: flex-end;
    flex-wrap: wrap;
    -moz-column-gap: 25px;
         column-gap: 25px;
    row-gap: 3px;
    flex-direction: row;
  }
}
@media (min-width: 991.98px) {
  .menu__list {
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
}

.menu__link {
  display: block;
  font-size: 16px;
  line-height: 1.62; /* 26/16 */
  color: var(--primary-color);
  padding-top: 7px;
  padding-bottom: 7px;
}
.menu__link:hover, .menu__link:focus {
  text-decoration: underline;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 32px;
  }
}

.cart-header {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--primary-color);
}

.cart-header__text {
  font-size: 18px;
  line-height: 1.55; /* 28/18 */
  letter-spacing: 0.96px;
}
.cart-header__text:hover, .cart-header__text:focus {
  text-decoration: underline;
}
@media (max-width: 569.98px) {
  .cart-header__text {
    display: none;
  }
}

.cart-header__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(129, 129, 139, 0.3);
  font-size: 15px;
  font-weight: 500;
}
@media (max-width: 569.98px) {
  .cart-header__quantity {
    background-image: url("../img/bag.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    border-radius: 0;
    padding-top: 6px;
    color: var(--acent-color);
    background-color: transparent;
  }
}

.header__button {
  flex: 0 0 auto;
}

@media (min-width: 767.98px) {
  .icon-menu {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .menu-open .menu__body {
    transform: translateX(0%);
  }
  .menu-open .menu__body::before {
    transform: translateX(0%);
  }
}
.hero {
  padding-top: 100px;
  padding-bottom: 30px;
}
@media (min-width: 767.98px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}
@media (min-width: 991.98px) {
  .hero {
    padding-top: 160px;
    padding-bottom: 100px;
  }
}

.hero__images {
  flex: 0 1 50%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 767.98px) {
  .hero__container {
    flex-direction: row;
  }
}

.hero__content {
  flex: 0 1 50%;
  align-self: stretch;
}
@media (min-width: 767.98px) {
  .hero__content {
    align-self: center;
  }
}

.hero__header {
  position: relative;
}
.hero__header::before {
  position: absolute;
  content: "";
  background: url("../img/decor.svg") 0 0/100% no-repeat;
  width: 122px;
  height: 122px;
  top: -22px;
  left: -30px;
  z-index: -1;
}

.images-hero {
  display: flex;
  justify-content: center;
  gap: 9.615385%; /* 60/624 */
}

.images-hero__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.images-hero__item_1,
.images-hero__item_4 {
  border-radius: 50%/29%;
}

.images-hero__item_2 {
  border-radius: 50% 50% 0% 50%;
}

.images-hero__item_3 {
  border-radius: 50% 0% 50% 50%;
}

.header-hero__text:not(:last-child) {
  margin-bottom: 33px;
}

.header-hero__actions {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 15px;
}
@media (max-width: 479.98px) {
  .header-hero__actions {
    flex-direction: column;
  }
}

.clients {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 767.98px) {
  .clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 991.98px) {
  .clients {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

.clients__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.57; /* 22/14 */
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 25px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.clients__item {
  max-width: 210px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 767.98px) {
  .services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 991.98px) {
  .services {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

.services__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 1099.98px) {
  .services__container {
    flex-direction: row;
  }
}

@media (max-width: 1099.98px) {
  .content-services__title.title,
.content-services__text.content-text {
    max-width: none;
  }
}

.services__content {
  flex: 0 1 50%;
}

.services__items {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 619.98px) {
  .services__items {
    flex-direction: row;
  }
}

.services__column {
  flex: 0 1 50%;
}
@media (min-width: 619.98px) {
  .services__column.top-column {
    margin-top: 48px;
  }
}

.services__item {
  position: relative;
  padding: 55px 25px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}
.services__item::before {
  display: block;
  content: "";
  width: 76px;
  height: 76px;
  margin-bottom: 16px;
}
.services__item:not(:last-child) {
  margin-bottom: 32px;
}

.service-social::before {
  background-image: url("../img/services/01.svg");
}

.service-advertising::before {
  background-image: url("../img/services/02.svg");
}

.service-email::before {
  background-image: url("../img/services/03.svg");
}

.service-seo::before {
  background-image: url("../img/services/04.svg");
}

.item-service__title {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.42; /* 27/19 */
  color: var(--primary-color);
}
.item-service__title:not(:last-child) {
  margin-bottom: 10px;
}

.why {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 767.98px) {
  .why {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 991.98px) {
  .why {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

.why__container {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 32px;
}
@media (min-width: 767.98px) {
  .why__container {
    -moz-column-gap: 64px;
         column-gap: 64px;
    flex-direction: row;
  }
}

.why__images {
  flex: 0 1 50%;
}

.why__content {
  flex: 0 1 50%;
  align-self: center;
}

.images-why {
  display: flex;
  position: relative;
}
.images-why::before {
  position: absolute;
  content: "";
  background: url(../img/decor.svg) 0 0/100% no-repeat;
  width: 122px;
  height: 122px;
  bottom: -12px;
  left: 5px;
  z-index: -1;
}

.images-why__item {
  overflow: hidden;
}

.images-why__item-1 {
  align-self: flex-end;
  border-radius: 90% 0 49% 49%/50% 0 31% 31%;
}

.images-why__item-2 {
  align-self: flex-end;
  border-radius: 50% 50% 50% 0;
}

.content-why__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content-why__item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
}
.content-why__item::before {
  display: block;
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("../img/check-solid.svg") center no-repeat;
  background-color: rgba(129, 129, 139, 0.1);
}

.advantages {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 767.98px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 991.98px) {
  .advantages {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

.advantages__container {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
@media (min-width: 991.98px) {
  .advantages__container {
    flex-direction: row;
  }
}

.advantages__items {
  flex: 1 1 auto;
  display: grid;
  gap: 32px;
  grid-template-columns: auto;
}
@media (min-width: 649.98px) {
  .advantages__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

.advantages__item {
  padding: 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}

.advantages__value {
  font-weight: 500;
  font-size: 51px;
  line-height: 1.19; /* 61/51 */
  color: var(--primary-color);
}
.advantages__value:not(:last-child) {
  margin-bottom: 32px;
}

.advantages__text {
  font-size: 18px;
  line-height: 1.5; /* 27/18 */
}

.advantages__image {
  align-self: center;
  flex: 0 0 38%; /* 500/1310 */
  overflow: hidden;
  border-radius: 0 67% 60% 60%/0 67% 50% 50%;
}
@media (min-width: 991.98px) {
  .advantages__image {
    align-self: flex-end;
  }
}

.testimonials {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 767.98px) {
  .testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 991.98px) {
  .testimonials {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

.content-testimonials__title.title,
.content-testimonials__text.content-text {
  max-width: 840px;
}

.testimonials__content:not(:last-child) {
  margin-bottom: 32px;
}
@media (min-width: 767.98px) {
  .testimonials__content:not(:last-child) {
    margin-bottom: 64px;
  }
}

.content-testimonials__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 767.98px) {
  .content-testimonials__body {
    flex-direction: row;
    justify-content: space-between;
  }
}

.content-testimonials__text.content-text {
  margin-bottom: 0;
}

.content-testimonials__actions {
  align-self: flex-start;
  flex: 0 0 auto;
}
@media (min-width: 767.98px) {
  .content-testimonials__actions {
    align-self: flex-end;
  }
}

.testimonials__items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 1099.98px) {
  .testimonials__items {
    display: flex;
    flex-direction: row;
    gap: 48px;
  }
}

.testimonials__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 15px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}
@media (min-width: 767.98px) {
  .testimonials__item {
    padding: 64px 40px;
    gap: 34px;
  }
}

.user-testimonial {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-testimonial__avatar {
  width: 68px;
  height: 68px;
  overflow: hidden;
}
.user-testimonial__avatar img {
  transform: scale(1.03);
}

.user-testimonial__avatar-1 {
  border-radius: 0 50% 50% 50%;
}

.user-testimonial__avatar-2 {
  border-radius: 50% 0 50% 50%;
}

.user-testimonial__avatar-3 {
  border-radius: 50% 50% 0 50%;
}

.user-testimonial__name {
  color: var(--primary-color);
  line-height: 1.5; /* 24/16 */
}
.user-testimonial__name:not(:last-child) {
  margin-bottom: 7px;
}

.user-testimonial__company {
  font-size: 14px;
  line-height: 1.57; /* 22/14 */
}

.item-testimonial__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.4; /* 45/32 */
  color: var(--primary-color);
}

.item-testimonial__text {
  line-height: 1.5; /* 24/16 */
  flex: 1 1 auto;
}

.item-testimonial__reting {
  height: 19px;
  width: 120px;
}
.item-testimonial__reting img {
  height: 100%;
  width: 100%;
}

.blog {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 767.98px) {
  .blog {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 991.98px) {
  .blog {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

.content-blog__title.title {
  max-width: 390px;
}

.content-blog__text.content-text {
  max-width: 740px;
}

.blog__content:not(:last-child) {
  margin-bottom: 32px;
}
@media (min-width: 767.98px) {
  .blog__content:not(:last-child) {
    margin-bottom: 64px;
  }
}

.content-blog__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 767.98px) {
  .content-blog__body {
    flex-direction: row;
    justify-content: space-between;
  }
}

.content-blog__text.content-text {
  margin-bottom: 0;
}

.content-blog__actions {
  align-self: flex-start;
  flex: 0 0 auto;
}
@media (min-width: 767.98px) {
  .content-blog__actions {
    align-self: flex-end;
  }
}

.blog__items {
  display: grid;
  grid-template-columns: auto;
  gap: 24px;
}
@media (min-width: 767.98px) {
  .blog__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1099.98px) {
  .blog__items {
    gap: 48px;
  }
}

.item-blog {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 24px;
  overflow: hidden;
}

.item-blog__wrap {
  display: block;
  position: relative;
  padding-bottom: 49.238579%; /* 194/394 */
}

.item-blog__category {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(129, 129, 139, 0.5);
  border-radius: 0px 10px 0px 0px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.57; /* 22/14 */
  color: var(--primary-color);
  transition: background-color 0.3s ease;
}
.item-blog__category:hover, .item-blog__category:focus {
  background: rgba(129, 129, 139, 0.8);
}

.item-blog__image {
  display: block;
  width: 100%;
  height: 100%;
}
.item-blog__image img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-blog__body {
  padding: 20px 15px;
}
@media (min-width: 1099.98px) {
  .item-blog__body {
    padding: 40px 26px;
  }
}

.item-blog__date {
  margin-bottom: 20px;
  color: rgba(129, 129, 139, 0.9);
}

.item-blog__title:not(:last-child) {
  margin-bottom: 30px;
}
.item-blog__title-link {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.42; /* 27/19 */
  color: var(--primary-color);
}
.item-blog__title-link:hover, .item-blog__title-link:focus {
  text-decoration: underline;
}

.item-blog__text {
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
}
.item-blog__text:not(:last-child) {
  margin-bottom: 20px;
}

.item-blog__link {
  font-size: 14px;
  line-height: 1.57; /* 22/14 */
  color: var(--acent-color);
}

.start {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 767.98px) {
  .start {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 991.98px) {
  .start {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

.start__body {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  padding: 24px 20px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  gap: 32px;
}
@media (min-width: 479.98px) {
  .start__body {
    align-items: center;
  }
}
@media (min-width: 767.98px) {
  .start__body {
    flex-direction: row;
    padding: 52px 40px;
  }
}

.content-start {
  max-width: 375px;
  text-align: center;
}

.content-start__title {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.41; /* 45/32 */
}
.content-start__title:not(:last-child) {
  margin-bottom: 16px;
}
@media (min-width: 767.98px) {
  .content-start__title {
    font-size: 32px;
  }
}

.start__actions {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media (min-width: 479.98px) {
  .start__actions {
    flex-direction: row;
    -moz-column-gap: 32px;
         column-gap: 32px;
    flex: 0 0 auto;
  }
}

.footer__main {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 767.98px) {
  .footer__main {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 991.98px) {
  .footer__main {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}

.main-footer__container {
  display: grid;
  gap: 35px;
  grid-template-columns: auto auto;
}
@media (min-width: 767.98px) {
  .main-footer__container {
    gap: 45px;
    grid-template-columns: minmax(auto, 378px) auto auto;
  }
}
@media (min-width: 1099.98px) {
  .main-footer__container {
    grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
    gap: 64px;
  }
}

.main-footer__logo {
  display: inline-flex;
  max-width: 148px;
}

.main-footer__text {
  line-height: 1.5;
}
@media (min-width: 1099.98px) {
  .main-footer__text {
    max-width: 347px;
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.social__item {
  width: 36px;
  height: 36px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid rgba(129, 129, 139, 0.9);
  background-color: transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.social__link img {
  height: 20px;
  width: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.social__link:hover, .social__link:focus {
  border-color: var(--primary-color);
}

.main-footer__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1099.98px) {
  .main-footer__column:nth-child(1) {
    grid-column: span 3;
  }
}
@media (max-width: 767.98px) {
  .main-footer__column:nth-child(1) {
    grid-column: span 2;
  }
  .main-footer__column:nth-child(4) {
    grid-column: span 2;
  }
}

.main-footer__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2; /* 24/20 */
  letter-spacing: 1px;
  color: var(--primary-color);
}

.menu-footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.menu-footer__link {
  line-height: 1.5;
  transition: color 0.3s ease;
}
.menu-footer__link:hover, .menu-footer__link:focus {
  color: var(--primary-color);
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 767.98px) {
  .subscribe__form {
    flex-direction: row;
  }
}

.subscribe__input {
  width: 100%;
  min-height: 52px;
  border: 1px solid rgba(129, 129, 139, 0.3);
  border-radius: 50px;
  padding: 0 30px;
  color: var(--primary-color);
  background-color: transparent;
  transition: border-color 0.3s ease;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
}
.subscribe__input::-moz-placeholder {
  color: #999999;
}
.subscribe__input:-ms-input-placeholder {
  color: #999999;
}
.subscribe__input::placeholder {
  color: #999999;
}

.bottom-footer__content {
  border-top: 1px solid rgba(129, 129, 139, 0.2);
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 767.98px) {
  .bottom-footer__content {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.bottom-footer__copy {
  text-align: center;
}/*# sourceMappingURL=main.css.map */