.footer {
    position: relative;
    border-top: 1px solid var(--lightgrey);
}

.footer__conteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20rem;
    gap: 4rem;
    justify-content: center;
    padding: 1rem 2rem;
}

.footer__social-links {
    display: flex;
    gap: 4rem;
}

.footer__social-links img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.footer__logo img {
    width: 10rem;
}

.footer-blur__one {
    bottom: 0;
    right: 15%;
    width: 26rem;
    height: 12rem;
    filter: blur(200px);
    background-color: red;
}

.footer-blur__second {
    bottom: 0;
    left: 15%;
    width: 26rem;
    height: 12rem;
    filter: blur(200px);
    background-color: rgb(255,115,0);
}