$white-color: #ffffff;
$dark-color: #000000;
$secondary-color: #147A42;
$primary-color: #1CAF5E;
$bg-color: #EFF7ED;

$main-font: 'RobotoRegular', sans-serif;

$base-size: 16px;
$basis-line: 1.5;

$minWidth: 320px;
$maxWidth: 1152px;

