*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font: 100% "Oswald-Regular", sans-serif;
  background: #aaaaaa;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0 15px;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: "Oswald-Regular";
  src: url(../font/Oswald-Regular.ttf) format("truetype"), url(../font/Oswald-Regular.eot) format("eot"), url(../font/Oswald-Regular.woff) format("woff"), url(../font/Oswald-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Oswald-Light";
  src: url(../font/Oswald-Light.ttf) format("truetype"), url(../font/Oswald-Light.eot) format("eot"), url(../font/Oswald-Light.woff) format("woff"), url(../font/Oswald-Light.woff) format("woff");
}

@font-face {
  font-family: "Oswald-Bold";
  src: url(../font/Oswald-Bold.ttf) format("truetype"), url(../font/Oswald-Bold.eot) format("eot"), url(../font/Oswald-Bold.woff) format("woff"), url(../font/Oswald-Bold.woff2) format("woff2");
}

@supports (-webkit-appearance:none) {

}