* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-size: $text_md;
	font-family: $main_font;
	color: $main_color;
}
@each $section, $color in $sections {
  .#{$section} {
    background-color: $color;
  }
}
.navbar{
	overflow: hidden;
	width: 100%;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(255, 255, 255, .5);
	z-index: 5;

	&__container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo{
		margin: 0;
		padding: 45px 0;
		& > a {
			text-decoration: none;
			color: $main_color;
			font-size: $heading_size_h1;
			font-family: 'Pacifico', cursive;
		}
	}

	&__menu{
		display: flex;
		list-style: none;

		&--item{
			margin-right: 40px;

			&:last-child{
				margin: 0;
			}

			& > a{
				display: block;
				text-decoration: none;
				font-size: $text_sm;
				color: $main_color;
				font-weight: $head_weight;
				text-transform: uppercase;
				padding: 7px 0;
				border-top: 3px solid transparent;
				border-bottom: 3px solid transparent;

				&:hover{
					border-top: 3px solid #ff6033;
				}
			}
		}
	}
}

.main-header{
	width: 100%;
	min-height: 1000px;
	background: url($img_path + 'bg_header.jpg') no-repeat 50% 50%;
	background-size: cover;
	margin: auto;
	display: flex;
	align-items: center;
	position: relative;
	
	&__heading{
		font-size: $heading_size_h2;
		font-weight: $heading_weight;
		margin-bottom: 30px;
	}

	&__text{
		line-height: 1.6;
		font-weight: $text_weight;
		margin-bottom: 30px;
	}

	.btn {
		@include button(#ff6033);
		////////////// Градиет //////////////////
		// background: rgba(73, 106, 254, 1);
		// background: linear-gradient(
		// 45deg, rgba(73,106,254,1) 0%,
		// rgba(73,106,254,1) 50%,
		// rgba(84,115,253,1) 51%,
		// rgba(84,115,253,1) 100%);
	}

	&__scroll{
		position: absolute;
		bottom: 7%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		& > a{
			display: block;
		}
	}
}
.about{
	display: flex;
	min-height: 700px;
	align-items: center;

	
	&-img{
		display: flex;
		align-items: center;
		width: 50%;
		height: auto;
	}

	&-cont{
		width: 50%;
		padding-left: 85px;
		color: $secondary_color;

		&__heading{
			font-size: $heading_size_h3;
			font-weight: $head_weight;
			text-transform: capitalize;
			margin-bottom: 25px;
		}

		&__text{
			line-height: 1.6;
			margin-bottom: 15px;

			&:last-child{
				margin: 0;
			}
		}
	}
}
.services{
	min-height: 800px;
	background: #70bfff url("../img/tomatoes.png") no-repeat 75% 50%;
	text-align: center;
	display: flex;
	align-items: center;
	
	&__list{
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;

		&--item{
			max-width: 400px;
			width: 100%;
			background-color: $white-color;
			margin-bottom: 20px;
			box-shadow: 4px 0 10px rgba(0,0,0,0.5);
			
			&:last-child{
				margin: 0;
			}
		}

		&--link_1{
			$size: 100px;

			display: flex;
			text-align: center;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			font-size: $text_lg;
			color: $main_color;
			font-weight: $head_weight;
			min-height: $size;
			text-transform: capitalize;
			border-right: 1px solid #9d9d9d;
			max-width: calc(100% - #{$size});
			position: relative;

			&::after {
				content: '';
				width: $size;
				height: $size;
				position: absolute;
				right: -#{$size};
				background: url($img_path + "icon_1.svg") no-repeat 50% 50%; 
			}
		}

		&--link_2{
			$size: 100px;

			display: flex;
			text-align: center;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			font-size: $text_lg;
			color: $main_color;
			font-weight: $head_weight;
			min-height: $size;
			text-transform: capitalize;
			border-right: 1px solid #9d9d9d;
			max-width: calc(100% - #{$size});
			position: relative;

			&::after {
				content: '';
				width: $size;
				height: $size;
				position: absolute;
				right: -#{$size};
				background: url($img_path + "icon_2.svg") no-repeat 50% 50%;
			}
		}

		&--link_3{
			$size: 100px;

			display: flex;
			text-align: center;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			font-size: $text_lg;
			color: $main_color;
			font-weight: $head_weight;
			min-height: $size;
			text-transform: capitalize;
			border-right: 1px solid #9d9d9d;
			max-width: calc(100% - #{$size});
			position: relative;

			&::after {
				content: '';
				width: $size;
				height: $size;
				position: absolute;
				right: -#{$size};
				background: url($img_path + "icon_3.svg") no-repeat 50% 50%;
			}
		}

		&--link_4{
			$size: 100px;

			display: flex;
			text-align: center;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			font-size: $text_lg;
			color: $main_color;
			font-weight: $head_weight;
			min-height: $size;
			text-transform: capitalize;
			border-right: 1px solid #9d9d9d;
			max-width: calc(100% - #{$size});
			position: relative;

			&::after {
				content: '';
				width: $size;
				height: $size;
				position: absolute;
				right: -#{$size};
				background: url($img_path + "icon_4.svg") no-repeat 50% 50%;
			}
		}


	}

	&__heading{
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: center;

		&--title{
			font-size: $heading_size_h3;
			font-weight: $head_weight;
			color: $secondary_color;
			text-transform: capitalize;
		}
	}
}

////////////// GALLERY //////////////

.gallery{
	min-height: 1540px;
	display: flex;
	text-align: center;

	&-cotainer{
		padding-top: 90px;
	}
	
	.gallery-heading{
		margin-bottom: 45px;

		&__items{
			margin-bottom: 50px;
		}

		&__title{
			font-size: $heading_size_h3;
			font-weight: $head_weight;
			margin-bottom: 30px;
		}

		&__text{
			line-height: 1.5;
			font-weight: $text_weight;
		}

		&__item{
			font-size: 0;
			width: 100%;
		}

		&__link{
			display: block;
		}

		&__img{
			border-style: none;
			margin-bottom: 25px;
			box-shadow: 5px 0 10px rgba(0,0,0,0.5);
			&--btn{
				margin: 0;
			}
		}

	}

	.btn {
		@include button(#5585a2);
	}
}

//////////// Subscribe  ////////////////////

.subscribe{
	min-height: 500px;
	background: url($img_path + "bg.jpg") no-repeat 50% 50%;
	background-size: cover;
	display: flex;
	align-items: center;

	&-heading{
		text-align: left;

		&__title{
			font-size: $heading_size_h4;
			text-transform: capitalize;
			font-weight: $head_weight;
			margin-bottom: 20px;
		}

		&__text{
			font-weight: $text_weight;
			line-height: 1.6;
			margin-bottom: 30px;
		}
	}

	&-input{
		width: 100%;

		&__email{
			width: 100%;
			max-width: 570px;
			font-size: 15px;
			border: 1px solid $dark-color;
			padding: 22px 15px;
		}
	}

	&-form{
		display: flex;
	}

	.btn {
		@include button(#96b92c);
	}
}

/////////  BLOG  /////////////

.blog{
	min-height: 865px;

	&-container{
		padding-top: 85px;
		color: $secondary_color;
	}

	&-heading{
		text-align: center;

		&__title{
			font-size: $heading_size_h3;
			font-weight: $head_weight;
			margin-bottom: 30px;
		}

		&__text{
			font-size: $text_md;
			font-weight: $text_weight;
			line-height: 1.6;
			margin-bottom: 40px;
		}
	}

	&__list{
		
		&--item{
			display: block;
			overflow: hidden;
			text-decoration: none;
			color: $secondary_color;
			// background: #717c8d;
			// padding-top: 67%;
			width: 100%;
			min-height: 310px;
			margin-bottom: 50px;
			box-shadow: 5px 0 10px rgba(0,0,0,0.5);
			
			&-info{
				
			}

			&-time{
				display: block;
				width: 60px;
				height: 60px;
				font-size: 21px;
				font-weight: $head_weight;
				text-transform: uppercase;
				text-align: center;
				background-color: rgba(38, 38, 38, .5);
				border-radius: 5px;
				margin-top: 30px;
				margin-left: 30px;
			}

			&-data{
				font-size: 32px;
			}
			
		}

		&--blog1{
			background: url($img_path + "bg_blog_1.jpg") no-repeat;
			background-size: cover;	
		}

		&--blog2{
			background: url($img_path + "bg_blog_2.jpg") no-repeat;
			background-size: cover;
		}
		
		&--blog3{
			background: url($img_path + "bg_blog_3.jpg") no-repeat;
			background-size: cover;
		}

		&--caption{
			font-size: $text_lg;
			font-weight: $head_weight;
			text-transform: capitalize;
			margin: 15px;
			margin-top: 110px;
		}

		&--text{
			font-size: 13px;
			margin-left: 15px;
			text-transform: capitalize;
			font-weight: $text_weight;
		}
		
	}
		

	.btn {
		@include button(#f72b3b);
	}
	
}