@import 'common';
@import 'fonts';

// Header  //

header{
	position: fixed;
	background-color: rgba(0, 0, 0, .8);
	backdrop-filter: blur(2rem);
	height: 4.4rem;
	width: 100%;
	top: 0;
	z-index: 1400;
}

.nav-list{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 -1rem;
}

.nav-list-mobile{
	display: none;
}

.nav-link{
	font-size: 1.4rem;
	color: #ffffff;
	padding: 0 1rem;
	transition: opacity 0.5s;

	&:hover{
		opacity: 0.7;
	}
}

.nav-link-apple{
	width: 1.6rem;
	height: 4.4rem;
	background-image: url('../img/icons/apple.svg');
	background-repeat: no-repeat;
	background-position: center center;
}

.nav-link-search{
	width: 1.6rem;
	height: 4.4rem;
	background-image: url('../img/icons/search.svg');
	background-repeat: no-repeat;
	background-position: center center;
}

.nav-link-bag{
	width: 1.4rem;
	height: 4.4rem;
	background-image: url('../img/icons/bag.svg');
	background-repeat: no-repeat;
	background-position: center center;
}

// iPhone 11 Pro section //

.iphone-11-pro{
	background-image: url('../img/hero/iphone-11-pro/iphone_11_pro_large.jpg');
	margin-top: 4.4rem;
}

.title{
	color: #ffffff;
	text-align: center;
	padding-top: 5.5rem;
}

.title-heading{
	font-size: 5.6rem;
	line-height: 1.07143;
	letter-spacing: -0.005rem;
}

.title-sub-heading{
	font-size: 2.65rem;
	margin-top: 0.6rem;
	letter-spacing: 0.008rem;
	font-weight: 400;
}

.title-price{
	font-size: 1.7rem;
	color: #888888;
	margin-top: 0.68rem;
}

.cta{
	text-align: center;
	margin-top: 1.8rem;
}

.cta-link{
	color: #66bbff;
	font-size: 2.1rem;
	display: inline-block;

	&:nth-child(2){
		margin-left: 2.6rem;
	}

	&:hover{
		border-bottom: 2px solid #66bbff;
	}
}

// iPhone 11 section //

.iphone-11{
	background-image: url('../img/hero/iphone-11/iphone_11_large.jpg');
}

.title-dark{
	color: #000000;
}

.cta-link-darker{
	color: #0070c9;

	&:hover{
		border-bottom-color: #0070c9;
	}
}

.watch{
	background-image: url('../img/hero/watch/watch_large.jpg');
}

.title-heading-watch{
	height: 7.8rem;
	background-image: url('../img/hero/watch/logo_watch_large.png');
	background-repeat: no-repeat;
	background-size: auto 7.8rem;
	background-position: center center;
	margin-top: 1.6rem;
}



//  Moved to the bottom of all section styles to keep consistent styles  //
.hero{
	height: 69.2rem;
	background-repeat: no-repeat;
	background-size: auto 73.6rem;
	background-position: center center;
	border-top: 0.6rem solid #fff;
	border-bottom: 0.6rem solid #fff;
}

.iphone-11-pro{
	border-top: none;
}
//  end  //


@media screen and (max-width: 1068px) {
	.iphone-11-pro{
		background-image: url('../img/hero/iphone-11-pro/iphone_11_pro_medium.jpg');
	}
	
	.iphone-11{
		background-image: url('../img/hero/iphone-11/iphone_11_medium.jpg');
	}
	
	.watch{
		background-image: url('../img/hero/watch/watch_medium.jpg');
	}

	.hero{
		height: 65rem;
		background-size: auto 69.8rem;
		background-position: bottom center;
		background-repeat: no-repeat;
	}

	.title-heading{
		font-size: 4.4rem;
	}
	
	.title-sub-heading{
		font-size: 2.4rem;
	}

	.cta-link:nth-child(2){
		margin-left: 2rem;
	}

	.title-heading-watch{
		height: 6.2rem;
		background-image: url('../img/hero/watch/logo_watch_medium.png');
		background-size: auto 6.2rem;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

@media screen and (max-width: 767px) {
	header{
		height: 4.8rem;
		transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1),
								height 0.56s cubic-bezier(0.32, 0.08, 0.24, 1);
	}

	header .container{
		padding: 0;
	}

	.iphone-11-pro{
		margin-top: 4.8rem;
	}
		
	.nav-list{
		margin-top: 0;
	}

	.nav-list-mobile{
		display: flex;
	}

	.nav-item{
		width: 4.8rem;
		height: 4.8rem;
		display: flex;
		justify-content: center;
	}

	.nav-item-hidden{
		display: none;
	}

	.mobile-menu{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		cursor: pointer;
		z-index: 1500;
	}

	.line{
		position: absolute;
		width: 1.7rem;
		height: 1px;
		background-color: #ffffff;
		transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
	}

	.line-top{
		margin-top: 3px;
	}

	.line-bottom{
		margin-top: -0.4rem;
	}

	.active .line-top{
		margin-top: 0;
		transform: rotate(45deg);
		transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
	}
	
	.active .line-bottom{
		margin-top: 0;
		transform: rotate(-45deg);
		transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
	}

	header.active{
		height: 100%;
		background-color: #000000;
	}

	.nav-link-apple{
		width: 1.8rem;
		height: 4.8rem;
		position: relative;
		z-index: 1500;
	}

	.nav-link-bag{
		width: 1.6rem;
		height: 4.8rem;
		transition: opacity 3s;
	}
	
	.nav{
		position: relative;
	}

	.nav-link{
		font-size: 1.7rem;
		padding: 0;
		margin: auto 0;
	}

	.nav-list-larger{
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		display: block;
		padding: 10.5rem 5rem;
		z-index: 1000;
		box-sizing: border-box;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s;
	}

	.active .nav-list-larger{
		width: 100%;
		height: 100vh;
		visibility: visible;
		opacity: 1;
	}

	.active .nav-link-bag{
		opacity: 0;
		transition: opacity 0.3s;
	}

	.nav-list-larger .nav-item{
		width: 100%;
		justify-content: flex-start;
		border-bottom: 2px solid rgba(255, 255, 255, 0.1);

		&:nth-child(9){
			border-bottom: none;
		}
	}

	.active .nav-list-larger .nav-item{
		animation: fadeIn 1s ease-in;
	}

	@keyframes fadeIn {
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
}

@media screen and (max-width: 735px) {
	.iphone-11-pro{
		background-image: url('../img/hero/iphone-11-pro/iphone_11_pro_small.jpg');
	}
	
	.iphone-11{
		background-image: url('../img/hero/iphone-11/iphone_11_small.jpg');
	}
	
	.watch{
		background-image: url('../img/hero/watch/watch_small.jpg');
	}

	.hero{
		height: 50rem;
		background-size: auto 54.8rem;
		background-position: bottom center;
		background-repeat: no-repeat;
	}

	.title{
		padding: 3.7rem;
	}

	.title-heading{
		font-size: 3.2rem;
	}
	
	.title-sub-heading{
		font-size: 1.9rem;
	}

	.title-heading-watch{
		margin-top: -0.5rem;
		margin-bottom: 0;
	}

	.title-price{
		font-size: 1.4rem;
	}

	.cta{
		margin-top: 0.7rem;
	}

	.cta-link{
		font-size: 1.9rem;
	}
}

@media screen and (max-width: 418px) {
	.title{
		padding-top: 3.7rem;
		padding-bottom: 0;
	}
}