.product {
  background-color: $grey-color;

  &__wrap {
    position: relative;
    border-left: 1px solid rgba(#12336A, 0.2);
    border-right: 1px solid rgba(#12336A, 0.2);
    padding-top: 90px;
    padding-bottom: 98px;

    @include min1232 {
      padding-top: 370px;
      padding-bottom: 245px;
      
    }
    

    &::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      background-color: rgba(#12336A, 0.2);
      top: 0;
      left: 50%;
    }
  }
}

.search-product {
  &__title.section-title{
    color: #233148;
    margin-bottom: 32px;

    @include min1232 {
      margin-bottom: 70px;
    }
  }

  &__box {
    height: 382px;

    @include min1232 {
      height: 115px;
    }
  }
}
