*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	font-family: $main-font;
	font-size: $base-size;
	font-weight: $weight-medium;
	color: $black-color;
	background-color: $white-color;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.container{
	padding: 0 15px;
	max-width: $maxWidthContainer;
	width: 100%;
	margin: 0 auto;
}

button {
	background-color: transparent;
	border: none;
}

.icon-menu {

	@include max991 {
		display: block;
		position: relative;
		width: 40px;
		height: 22.5px;
		cursor: pointer;
		z-index: 10;

		span,
		&::after,
		&::before {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			transition: all 0.3s ease 0s;
			background-color: $white-color;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - 1px);
		}

		&.menu-open {
			span {
				transform: scale(0);
			}

			&::after {
				transform: rotate(-45deg);
				top: 9px;
			}

			&::before {
				transform: rotate(45deg);
				top: 9px;
			}
		}
	}
	
}