$white-color: #ffffff;
$black-color: #000000;
$dark-color: #141414;
$orabge-color: #E8AA31;
$grey-color: #aaaaaa;

$semiBold-font: 'Montserrat-SemiBold', sans-serif;
$main-font: 'Montserrat', sans-serif;
$bold-font: 'Montserrat-Bold', sans-serif;

$base-size: 18px;
$baze-line: 1.5;

$weight-medium: 500;
$weight-simibold: 600;
$weight-bold: 700;

$minWidth: 320px;
$maxWidth: 1920px;

$maxWidthContainer: 1590px;