$img-path: '../img/';


$main-color: #252525;
$secondary-color: #c59d5f;
$body-color: #515151;


$main-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Herr Von Muellerhoff', cursive;
$body-font: 'Cabin', sans-serif;

$base-size: 10px;
$baze-line: 2;

$weight-regular: 400;
$weight-bold: 900;