@font-face {
	font-family: 'Montserrat-Light';
	font-display: swap;
	font-style: normal;
	src: url(../font/Montserrat-Light.ttf) format('truetype'),
		url(../font/Montserrat-Light.eot) format('eot'),
		url(../font/Montserrat-Light.woff) format('woff'),
		url(../font/Montserrat-Light.woff2) format('woff2');
}

@font-face {
	font-family: 'Montserrat-Regular';
	font-display: swap;
	font-style: normal;
	src: url(../font/Montserrat-Regular.ttf) format('truetype'),
		url(../font/Montserrat-Regular.eot) format('eot'),
		url(../font/Montserrat-Regular.woff) format('woff'),
		url(../font/Montserrat-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Montserrat-Medium';
	font-display: swap;
	font-style: normal;
	src: url(../font/Montserrat-Medium.ttf) format('truetype'),
		url(../font/Montserrat-Medium.eot) format('eot'),
		url(../font/Montserrat-Medium.woff) format('woff'),
		url(../font/Montserrat-Medium.woff2) format('woff2');
}

@font-face {
	font-family: 'Montserrat-Bold';
	font-display: swap;
	font-style: normal;
	src: url(../font/Montserrat-Bold.ttf) format('truetype'),
		url(../font/Montserrat-Bold.eot) format('eot'),
		url(../font/Montserrat-Bold.woff) format('woff'),
		url(../font/Montserrat-Bold.woff2) format('woff2');
}

@font-face {
	font-family: 'Montserrat-SemiBold';
	font-display: swap;
	font-style: normal;
	src: url(../font/Montserrat-SemiBold.ttf) format('truetype'),
		url(../font/Montserrat-SemiBold.eot) format('eot'),
		url(../font/Montserrat-SemiBold.woff) format('woff'),
		url(../font/Montserrat-SemiBold.woff2) format('woff2');
}

@font-face {
	font-family: 'Montserrat-ExtraBold';
	font-display: swap;
	font-style: normal;
	src: url(../font/Montserrat-ExtraBold.ttf) format('truetype'),
		url(../font/Montserrat-ExtraBold.eot) format('eot'),
		url(../font/Montserrat-ExtraBold.woff) format('woff'),
		url(../font/Montserrat-ExtraBold.woff2) format('woff2');
}