$white-color: #ffffff;
$black-color: #121214;
$grey-color: #F4F4F4;
$accent-color: #037E8C;

$light-font: 'Montserrat-Light', sans-serif;
$main-font: 'Montserrat-Regular', sans-serif;
$medium-font: 'Montserrat-Medium', sans-serif;
$bold-font: 'Montserrat-Bold', sans-serif;
$semiBold-font: 'Montserrat-SemiBold', sans-serif;
$extraBold-font: 'Montserrat-ExtraBold', sans-serif;

$base-size: 16px;
$baze-line: 1.5;

$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;

$minWidth: 320px;
$maxWidth: 1920px;

$maxWidthContainer: 1330px;
