*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font: 100% "Oswald-Regular", sans-serif;
  background: #ffffff;
  color: #747887;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0 15px;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  background: #EB3D35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  min-height: 60px;
  width: 100%;
  border: none;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background: #d81e15;
}

.btn-outline {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  line-height: 24px;
  min-height: 60px;
  width: 100%;
  border: 1px solid #E5E4E1;
  color: #051655;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn-outline:hover {
  background: #051655;
  border: 1px solid #051655;
  color: #ffffff;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.section__title {
  color: #051655;
  font-size: 50px;
  line-height: 56px;
}

.section__text {
  color: #747887;
  font-size: 20px;
  line-height: 22px;
}

main {
  padding: 50px 200px;
}

@font-face {
  font-family: "Oswald-Regular";
  src: url(../font/Oswald-Regular.ttf) format("truetype"), url(../font/Oswald-Regular.eot) format("eot"), url(../font/Oswald-Regular.woff) format("woff"), url(../font/Oswald-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Oswald-Medium";
  src: url(../font/Oswald-Medium.ttf) format("truetype"), url(../font/Oswald-Medium.eot) format("eot"), url(../font/Oswald-Medium.woff) format("woff"), url(../font/Oswald-Medium.woff) format("woff");
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../font/icons.ttf") format("truetype"), url("../font/icons.eot") format("eot"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-checket:before {
  content: "\e90a";
}

._icon-arrow-right:before {
  content: "\e900";
}

._icon-crown:before {
  content: "\e901";
}

._icon-frame:before {
  content: "\e902";
}

._icon-gallery:before {
  content: "\e903";
}

._icon-heart:before {
  content: "\e904";
}

._icon-linkedin:before {
  content: "\e905";
}

._icon-location:before {
  content: "\e906";
}

._icon-search:before {
  content: "\e907";
}

._icon-twitter:before {
  content: "\e908";
}

._icon-user-tag:before {
  content: "\e909";
}

.checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}

.checkbox__item {
  background: #F3F6F9;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 360px;
  width: 100%;
  padding: 10px;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked ~ .chackbox__fake::before {
  opacity: 1;
}

.checkbox__input:checked ~ .chackbox__fake .chackbox__fake-icon {
  opacity: 1;
}

.checkbox__input:checked ~ .chackbox__border {
  opacity: 1;
}

.chackbox__fake {
  background: #ffffff;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #E5E4E1;
  margin-left: auto;
  margin-right: 25px;
}

.chackbox__fake::before {
  background: #EB3D35;
  position: absolute;
  content: "";
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.chackbox__fake-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 14px;
  z-index: 2;
  opacity: 0;
}

.chackbox__img {
  background: #ffffff;
  width: 60px;
  height: 60px;
  padding: 10px;
  margin-right: 30px;
}

.chackbox__img img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.chackbox__text {
  font-size: 20px;
  line-height: 22px;
  color: #051655;
}

.chackbox__border {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #EB3D35;
  opacity: 0;
}

.steps__numbers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 650px;
  margin-bottom: 60px;
}

.progress {
  background: #E5E4E1;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  z-index: -1;
}

.steps__number {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #E5E4E1;
}

.steps__number:not(:last-child) {
  margin-right: 100px;
}

.steps__title {
  margin-bottom: 10px;
}

.steps__text {
  margin-bottom: 40px;
  max-width: 600px;
}

.step__buttons {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.btn-outline.prev__step,
.btn.next__step {
  max-width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: capitalize;
}

.form__input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 460px;
  min-height: 60px;
  margin-bottom: 40px;
}

.input {
  padding: 20px 20px 20px 65px;
  border: 1px solid #E5E4E1;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  color: #747887;
  outline: none;
}

.input:focus {
  outline: 1px solid #EB3D35;
}

.input__img {
  position: absolute;
  top: 50%;
  left: 30px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search__input .input__img span {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.form__item-title {
  font-size: 25px;
  line-height: 28px;
  color: #051655;
  margin-bottom: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header__wrap {
  margin-bottom: 20px;
}

.header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.header__item.info__item {
  padding: 30px 50px;
}

.header__img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.header__title {
  margin-bottom: 10px;
}

.header__text {
  margin-bottom: 40px;
}

.header__btn {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 18px 20px 18px 30px;
  max-width: 250px;
}

.header__btn span {
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__btn span:hover {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.header__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__link span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: #747887;
  line-height: 20px;
  margin-right: 5px;
}

.header__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  line-height: 22px;
  color: #C35B48;
}

.logo {
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.radio__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}

.radio__item {
  background: #F3F6F9;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 360px;
  width: 100%;
  padding: 10px;
}

.radio__input {
  display: none;
}

.radio__input:checked ~ .radio__fake {
  border: 1px solid #EB3D35;
}

.radio__input:checked ~ .radio__fake::before {
  opacity: 1;
}

.radio__input:checked ~ .radio__border {
  opacity: 1;
}

.radio__fake {
  background: #ffffff;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #E5E4E1;
  margin-left: auto;
  margin-right: 25px;
}

.radio__fake::before {
  background: #EB3D35;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.radio__img {
  background: #ffffff;
  width: 60px;
  height: 60px;
  padding: 10px;
  margin-right: 30px;
}

.radio__img img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.radio__text {
  font-size: 20px;
  line-height: 22px;
  color: #051655;
}

.radio__border {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #EB3D35;
  opacity: 0;
}

@supports (-webkit-appearance:none) {

}

@media all and (min-width: 768px) {
  .header {
    height: 100vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: hidden;
  }

@supports (-webkit-appearance:none) {

}
}

@media all and (min-width: 992px) {
  .header__item.info__item {
    padding: 65px 100px;
  }

@supports (-webkit-appearance:none) {

}
}