@font-face{
	font-family: 'Oswald-Regular';
	src: url(../font/Oswald-Regular.ttf) format('truetype'),
			url(../font/Oswald-Regular.eot) format('eot'),
			url(../font/Oswald-Regular.woff) format('woff'),
			url(../font/Oswald-Regular.woff2) format('woff2');
}

@font-face{
	font-family: 'Oswald-Medium';
	src: url(../font/Oswald-Medium.ttf) format('truetype'),
			url(../font/Oswald-Medium.eot) format('eot'),
      url(../font/Oswald-Medium.woff) format('woff'),
			url(../font/Oswald-Medium.woff) format('woff');
}
