
// Colors
$red: #EB3D35;
$blue: #051655;
$light-blue: #F3F6F9;
$white: #ffffff;
$grey: #747887;
$light-grey: #E5E4E1;

// Fonts
$main-font: 'Oswald-Regular', sans-serif;
$light-font: 'Oswald-Medium', sans-serif;


$base-size: 100%;
$base-line: 170%;


$weight-regular: 400;
$weight-bold: 500;

$minWidth: 320px;
$maxWidth: 1200px;

$maxWidthContainer: 1230px;