@font-face {
	font-family: 'Inter-Regular';
	font-display: swap;
	font-style: normal;
	src: url(../font/Inter-Regular.ttf) format('truetype'),
		url(../font/Inter-Regular.eot) format('eot'),
		url(../font/Inter-Regular.woff) format('woff'),
		url(../font/Inter-Regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Inter-Bold';
	font-display: swap;
	font-style: normal;
	src: url(../font/Inter-Bold.ttf) format('truetype'),
		url(../font/Inter-Bold.eot) format('eot'),
		url(../font/Inter-Bold.woff) format('woff'),
		url(../font/Inter-Bold.woff2) format('woff2');
}