$white-color: #ffffff;
$black-color: #131313;
$grey-color: #6F6F6F;
$acent-color: #FF4040;

$main-font: 'Inter-Regular', sans-serif;
$bold-font: 'Inter-Bold', sans-serif;

$base-size: 16px;
$baze-line: 1.5;

$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;

$minWidth: 320px;
$maxWidth: 1920px;

$maxWidthContainer: 1230px;