body {
	font-family: $main-font;
	font-size: $base-size;
	color: $text-color;
	background-color: $white-color;
}

a {
	
	text-decoration: none;

	&:hover {
		text-decoration: none;
		
	}
}
h1, h2, h3, h4, h5, h6{
	color: $title-color;
	font-family: $light-font;
}

ul {
	padding: 0;
	margin: 0;

	li {
		list-style: none;

		a {
			display: block;
		}
	}
}

.indent{
	padding-bottom: rem(60px);

	@include min992{
		padding-bottom: rem(115px);
	}
}

