.content{

	&__wrap{
		padding: rem(50px) 5px rem(50px) 5px;

		@include min992{
			padding: rem(105px) 5px rem(120px) 5px;
		}
	}

	&__title{

		text-align: center;
		font-size: rem(40px);
		margin-bottom: rem(30px);
		text-transform: capitalize;

		@include min768{
			margin-bottom: rem(65px);
		}
	}

	&__trial{

		@include max767{
			text-align: center;
			margin-bottom: rem(30px);

			&:last-child{
				margin-bottom: 0;
			}
		}

		&-free{
			color: $orange-color;
			font-size: rem(20px);
			text-transform: uppercase;
			font-family: $bold-font;
			margin-bottom: rem(10px);
		}

		&-title{
			font-size: rem(30px);
			margin-bottom: rem(23px);
		}

		&-text{
			color: rgba($black-color, .5);
			font-size: rem(18px);
			margin-bottom: rem(10px);
		}

		&-link{
			display: block;
			color: $link-color;
			text-decoration: underline;
			text-transform: capitalize;
			margin-bottom: rem(30px);

			&:hover{
				color: $orange-color;
				text-decoration: underline;
			}
		}

		&-img{
			max-height: 134px;
			height: 100%;
			width: auto;
		}

		&-btn{
			color: $blue-color;
			font-size: rem(18px);
			text-transform: capitalize;
			background-color: $white-color;
			border: 1px solid $blue-color;
			border-radius: 30px;
			padding: rem(12px) 0;
			width: 100%;
			max-width: rem(175px);
			cursor: pointer;
		}
	}

	&__best{

		&-card{
			text-align: center;
			
			@include max767{
				margin-bottom: rem(50px);
			}
		}

		&-pic{
			width: auto;
			height: rem(50px);
			margin-bottom: rem(20px);

			@include min768{
				margin-bottom: rem(50px);
			}
		}

		&-title{
			font-size: rem(30px);
			margin-bottom: rem(15px);

			@include min768{
				margin-bottom: rem(30px);
			}
		}

		&-text{
			font-size: rem(18px);
			margin-bottom: 0;
			color: $gray-color;
		}
	}
}
