.site-footer{
	background-color: $blue-color;
	color: $white-color;
	font-family: $light-font;
	min-height: rem(280px);
	display: flex;
	align-items: center;
	padding: rem(20px) rem(10px);

	&__contacts{
		text-align: center;
		width: 100%;
	}

	&__call{
		font-size: rem(30px);
		margin: 0 0 5px 0;
	}

	&__phone{
		font-size: rem(20px);
		margin: 0 0 rem(50px) 0;

		& > *{
			color: $white-color;
			white-space: nowrap;

			&:hover{
				color: $white-color;
				text-decoration: underline;
			}
		}
	}

	&__btn{
		color: $blue-color;
		text-transform: capitalize;
		font-size: rem(23px);
		font-family: $main-font;
		border: none;
		border-radius: 30px;
		background-color: $white-color;
		max-width: 290px;
		width: 100%;
		padding: rem(15px) 0;
		cursor: pointer;
	}
}