.top-line{
	
	&__avail{
		position: relative;
		width: 100%;

		@include min768{
			display: flex;
		}
			
		&-item{
			color: $white-color;
			font-size: rem(18px);
			font-family: $light-font;
			width: 100%;
			text-align: center;
			padding: rem(15px) rem(5px)  rem(15px) rem(50px);
			position: relative;
		}

		&-text{
			vertical-align: middle;
		}

		&-left{
			background-color: $blue-color;
		}

		&-pic1{
			&::before{
				content: '';
				position: absolute;
				width: 27px;
				height: 18px;
				background: url($img-path + 'avail_pic_1.svg') no-repeat;
				transform: translate(-150%, 0.2rem );
			}
		}

		&-center{
			background-color: $orange-color;
		}

		&-pic2{
			&::before{
				content: '';
				position: absolute;
				width: 30px;
				height: 19px;
				background: url($img-path + 'avail_pic_2.svg') no-repeat;
				transform: translate(-150%, 0.3rem );
			}
		}

		&-right{
			background-color: $dark-green-color;
		}

		&-pic3{
			&::before{
				content: '';
				position: absolute;
				width: 23px;
				height: 23px;
				background: url($img-path + 'avail_pic_3.svg') no-repeat;
				transform: translate(-150%, 0.3rem );
			}
		}
	}
}
