$img-path: '../img/';

$light-font: 'ProximaNovaLight', sans-serif;
$main-font: 'ProximaNovaRegular', sans-serif;
$bold-font: 'ProximaNovaBold', sans-serif;

$base-size: 16px;
$baze-line: 2;

$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;


$orange-color: #f45c07;
$blue-color: #056572;
$link-color: #81b2b8;
$white-color: #fff;
$text-color: #808080;
$gray-color: #a3a3a3;
$dark-green-color:#038a7a;
$title-color: #292929;
$black-color: #000000;
$bord-color: #0072bc;
