.reasons {
    padding: 0 2rem;
    display: flex;
    gap: 2rem;
}

.reasons__box {
    flex: 1 1;
}

.reasons-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    max-height: 28rem;
    max-width: 38rem;
    width: 100%;
}

.reasons-image>div {
    max-width: 100%;
    height: 100%;
}

.reasons-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reasons-image__item-1 {
    grid-area: 1/1/3/2;
}

.reasons-image__item-2 {
    grid-area: 1/2/2/4;;
}

.reasons-image__item-3 {
    grid-area: 2/2/3/3;
}

.reasons-image__item-4 {
    grid-area: 2/3/3/4;
}

.reasons-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-transform: uppercase;
}

.reasons-content__subquestion {
    color: var(--orange);
    font-weight: 700;
}

.reasons-content__question {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.reasons-content__list {
    color: #fff;
    font-weight: 700;
}

.reasons-content__item {
    display: flex;
    font-size: 1rem;
    gap: 1rem;
}

.reasons-content__item:not(:last-child) {
    margin-bottom: 1rem;
}

.reasons-content__item img {
    flex: 0 0 2rem;
    height: 2rem;
}

.partners__title {
    display: inline-flex;
    color: var(--grey);
    margin-bottom: 1rem;
}

.partners__list {
    display: flex;
    gap: 1rem;
}

.partners__list img {
    width: 100%;
    max-width: 2.5rem;
}

@media screen and (max-width: 768px) {
    .reasons {
        padding: 0 1rem;
        flex-direction: column;
    }

    .reasons-content__question {
        font-size: x-large;
    }
}