.section-order-stages{
	background-color: $light-grey-color;

	&__list{

		@media (max-width: 1024px){
			justify-content: space-between;
		}

		display: flex;
		min-height: 340px;
		align-items: center;
		justify-content: space-around;
		position: relative;

		&::after{
			content: '';
			display: block;
			position: absolute;
			top: 15%;
			min-width: 100%;
			min-height: 60px;
			background: url(../img/wave.svg) no-repeat;
			background-position: 50% 0px;
		}
	}

	&__item{
		display: flex;
		flex-direction: column;
		align-items: center;

		svg{
			margin-bottom: 25px;
		}

		span{
			font-size: 36px;
			font-family: $main-font;
			color: $light-color;
			text-transform: capitalize;
		}
	}

	#search {
		fill: $dark-blue-color;
	}

	#select {
		fill: $pink-color;
	}

	#finger {
		fill: $light-blue-color;
	}
}