.section-about{
	width: 100%;
	min-height: 685px;
	background: url($img-path + "choose-bg.jpg") no-repeat 50% 50%;
	background-size: cover;
	display: flex;
	margin: auto;
	align-items: center;
	position: relative;

	&__title{
		font-size: 36px;
		color: $main-color;
		font-family: $main-font;
		margin-bottom: 55px;
	}

	&__text{
		font-size: 16px;
		letter-spacing: 2px;
		font-family: $secondary-font;
		color: $light-color;
		line-height: 1.6;
		margin-bottom: 30px;
		font-weight: 300;

		&:last-child{
			margin-bottom: 45px;
		}
	}

	&__imgs{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__img{
		margin-bottom: 5px;

		&:last-child {
			align-self: flex-end;
			margin: 0;
		}
	}
}

.center{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
