@font-face{
	font-family: 'SF-Pro-Text-Regular';
	src: url(../fonts/SF-Pro-Text-Regular.ttf) format('truetype'),
			url(../fonts/SF-Pro-Text-Regular.otf) format('otf'),
			url(../fonts/SF-Pro-Text-Regular.woff) format('woff');
}

@font-face{
	font-family: 'SF-Pro-Text-Bold';
	src: url(../fonts/SF-Pro-Text-Bold.ttf) format('truetype'),
			url(../fonts/SF-Pro-Text-Bold.otf) format('otf'),
			url(../fonts/SF-Pro-Text-Bold.woff) format('woff');
}

@font-face{
	font-family: 'SF-Pro-Display-Light';
	src: url(../fonts/SF-Pro-Display-Light.ttf) format('truetype'),
			url(../fonts/SF-Pro-Display-Light.otf) format('otf'),
			url(../fonts/SF-Pro-Display-Light.woff) format('woff');
}

@font-face{
	font-family: 'SF-Pro-Display-Medium';
	src: url(../fonts/SF-Pro-Display-Medium.ttf) format('truetype'),
			url(../fonts/SF-Pro-Display-Medium.otf) format('otf'),
			url(../fonts/SF-Pro-Display-Medium.woff) format('woff');
}

@font-face{
	font-family: 'SF-Pro-Display-Bold';
	src: url(../fonts/SF-Pro-Display-Bold.ttf) format('truetype'),
			url(../fonts/SF-Pro-Display-Bold.otf) format('otf'),
			url(../fonts/SF-Pro-Display-Bold.woff) format('woff');
}