$img-path: '../img/';

$white-color: #ffffff;
$accent-color: #51b73c;
$blue-color: #113d7b;
$dark-blue-color: #00274d;
$text-color: #303030;

$main-font: 'SF-Pro-Text-Regular', sans-serif;
$text-bold-font: 'SF-Pro-Text-Bold', sans-serif;
$display-light-font: 'SF-Pro-Display-Light', sans-serif;
$display-medium-font: 'SF-Pro-Display-Medium', sans-serif;
$display-bold-font: 'SF-Pro-Display-Bold', sans-serif;

$base-size: 100%;
$baze-line: 150%;

$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;