@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3a3a3a;
$grey-color: #898989;
$darkGrey-color: #616161;
$orange-color: #e87571;
$bg-color: #FCF8F3;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;

	&__main-slider {}
	&__advantages {}
	&__products {}
	&__rooms {}
	&__tips {}
	&__furniture {}
}
// main-slider ===================================================================================================================================
.main-slider {
	background-color: #fcf8f3;

	&__container {
		position: relative;

		@media (min-width:$md2+px) {
			&::before {
				position: absolute;
				content: '';
				background-color: #f9f1e7;
				top: 0;
				right: 376px;
				width: 100vw;
				height: 100%;
			}
		}
	}

	&__body {
		padding: 140px 0px 0px 0px;
		position: relative;
		z-index: 2;

		@media (max-width: $md2+px) {
			padding: 80px 0px 0px 0px;
		}

		@media (max-width: $md3+px) {
			padding: 50px 0px 0px 0px;
		}

		@media (min-width: $md2+px) {
			display: flex;
		}
	}

	&__content {
		flex: 0 0 math.div(494, 1240) * 100%;
		align-self: flex-start;
		@include adaptiv-value("margin-bottom", 80, 15, 1);

		@media (max-width: $md2+px) {
			margin: 0px -15px;
		}
	}

	&__slider {
		flex: 1 1 auto;
		min-width: 0;
		align-self: flex-end;

		@media (min-width:$md2+px) {
			padding-left: 32px;
		}
	}
}

.content-main {
	position: relative;
	z-index: 5;
	padding-left: 15px;
	padding-right: 15px;
	background-color: rgba(255,255,255,0.72);
	@include adaptiv-value('padding-top', 60, 15, 1);
	@include adaptiv-value('padding-bottom', 60, 15, 1);

	@media (min-width: $md2+px) {
		@include adaptiv-value('padding', 60, 1, 1);
		background-color: rgba(255,255,255,0.9);
		/* Если браузер поддерживает backdrop-filter */
		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background-color: rgba(255,255,255,0.72);
			backdrop-filter: blur(31px);
		}
	}

	&__title {
		@include adaptiv-value('font-size', 56, 24, 1);
		line-height: 120%;
		font-weight: 700;
		&:not(:last-child) {
			margin: 0px 0px math.div(16, 56)*1em 0px;
		}
	}

	&__text {
		font-weight: 500;
		@include adaptiv-value('font-size', 20, 16, 1);
		line-height: 150%;
		color: $grey-color;
		&:not(:last-child) {
			margin: 0px 0px math.div(48, 20)*1em 0px;
		}
	}

	&__button {
		font-weight: 600;
		@include adaptiv-value('min-height', 78, 45, 1);
		@include adaptiv-value('font-size', 20, 16, 1);
		background-color: $orange-color;
		color: #fff;
		width: 100%;

		@media (any-hover: hover) {
			&:hover {
				background-color: darken($orange-color, 10%);
			}
		}
	}
}

.slider-main {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	@media (max-width: $md2+px) {
		align-items: stretch;
		flex-direction: column-reverse;
	}

	&__controls {
		margin: 0px 0px 20px 0px;
		align-self: stretch;

		@media (max-width: $md2+px) {
			margin: 10px 0px 20px 0px;
		}
	}

	&__body {
		overflow: visible;

		@media (min-width:$md2+px) {
			@include adaptiv-value('width', 934, 290, 1);
		}

		@media (max-width:$md2+px) {
			margin: 0 -15px;
		}
	}
	&__slide {
		position: relative;
	}

	&__image {
		padding: 0px 0px 59.1% 0px;
	}

	&__content {
		min-width: 295px;
		max-height: 300px;
		overflow: auto;
		color: inherit;
		display: flex;
		flex-direction: column;
		@include adaptiv-value("padding", 24, 15, 1);
		background: rgba(255, 255, 255, 0.9);
		@media (min-width: $md3+px) {
			position: absolute;
			min-width: 350px;
			@include adaptiv-value("right", 40, 0, 1);
			@include adaptiv-value("bottom", 40, 0, 1);
		}
		/* Если браузер поддерживает backdrop-filter */
		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
	}

	&__title {
		@include adaptiv-value('font-size', 28, 22, 1);
		font-weight: 600;
		line-height: 120%;
		margin: 0px 0px math.div(4, 28)*1em 0px;
	}

	&__text {
		line-height: 150%;
		color: $grey-color;
		&:not(:last-child) {
			margin: 0px 0px math.div(8, 16)*1em 0px;
		}
	}

	&__price {
		display: flex;
		flex-direction: row-reverse;
		line-height: 150%;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		@include adaptiv-value('font-size', 20, 16, 1);

		&:before {
			margin: 0px 0px 0px 10px;
			font-size: 12px;
		}
	}
}

.controls-slider-main {
	display: flex;
	align-items: center;

	&__dotts{
		flex: 1 1 auto;

		@media (min-width: $md2+px) {
			padding: 0 20px 0 0;
		}

		@media (max-width: $md2+px) {
			justify-content: center;
		}
	}

	&__arrows{
		@media (max-width: $md2+px) {
			display: none;
		}
	}
}

// advantages ========================================================================================

.advantages {
	@include adaptiv-value('padding-top', 88, 30, 1);
	@include adaptiv-value('padding-bottom', 88, 30, 1);

	&__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		display: inline-grid;
		padding: 15px 0;
		grid-template: auto auto / 85px 1fr;
		@media (max-width: $md2+px) {
			min-width: 280px;
		}
		@media (max-width: $md3+px) {
			grid-template: auto auto / auto 1fr;
		}
	}

	&__icon {
		text-align: center;
		align-self: center;
		grid-row: span 2;
		@media (max-width: $md3+px) {
			padding-right: 15px;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 18px;
		line-height: 150%;
		margin: 0 0 math.div(2, 18)*1em 0;
	}

	&__text {
		line-height: 150%;
		color: $grey-color;
	}
}

//products ====================================================================================================

.products {
	@include adaptiv-value("padding-bottom", 44, 30, 1);

	&__container {
	}

	&__title {
		margin: 0px 0px math.div(32px, 40px) * 1em 0px;
	}
	
	&__items {
		display: grid;
		gap: 32px;
		grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
	}
	
	&__item {
	}
	
	&__footer {
		padding: 32px 0px 0px 0px;
		text-align: center;
	}
	
	&__more {
		border: 1px solid $orange-color;
		min-width: 245px;

		&._hold {
			opacity: 0.4;
			cursor: default;
		}
	}
}

.item-product {
	background: #f4f5f7;
	display: flex;
	flex-direction: column;
	position: relative;

	@media (any-hover: hover) {
		&:hover {
			.item-product__actions {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	
	&__labels {
		position: absolute;
		z-index: 2;
		display: flex;
		flex-direction: column;
		@include adaptiv-value("right", 24, 10, 1);
		@include adaptiv-value("top", 24, 10, 1);
	}
	
	&__label {
		flex: 0 0 48px;
		width: 48px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-weight: 500;

		&:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}
		
		&_sale {
			background: #e97171;
		}
		
		&_new {
			background: #2ec1ac;
		}
	}
	
	&__image {
		padding: 0px 0px math.div(301px, 285px) * 100% 0px;
	}
	
	&__body {
		flex: 1 1 auto;
		padding: 16px 16px 30px 16px;
		display: flex;
		flex-direction: column;
	}
	
	&__content {
		flex: 1 1 auto;
	}
	
	&__title {
		@include adaptiv-value("font-size", 24, 20, 1);
		font-weight: 600;
		line-height: 120%;
		margin: 0px 0px math.div(8px, 24px) * 1em 0px;
	}
	
	&__text {
		color: $grey-color;
		line-height: 150%;
		margin: 0px 0px math.div(8px, 24px) * 1em 0px;
	}
	
	&__prices {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		line-height: 150%;
	}
	
	&__price {
		@include adaptiv-value("font-size", 20, 16, 1);
		font-weight: 600;
		
		&_old {
			@include adaptiv-value("font-size", 16, 14, 1);
			font-weight: normal;
			margin: 0px 0px 0px 16px;
			color: #b0b0b0;
			text-decoration: line-through;
		}
	}
	
	&__actions {

		@media (any-hover: none) {
			padding: 15px 0px 0px 0px;
		}

		@media (any-hover: hover) {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.3s ease 0s;
			background-color: rgba(58, 58, 58, 0.74);
			z-index: 3;
		}
	}
}

.actions-product {
	
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__button {
		flex: 1 1 100%;

		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}

		&._hold {
			opacity: 0.2;
			cursor: default;
		}
	}
	
	&__link {
		display: flex;
		align-items: center;
		color: inherit;
		font-weight: 600;
		transition: color 0.3s ease 0s;

		&::before {
			margin: 0px 10px 0px 0px;
			font-size: 16px;
		}

		@media (any-hover: hover) {
			color: #fff;
			&:hover {
				color: $orange-color;
			}
		}
	}
}

// rooms ====================================================================================================

.rooms {
	background-color: #fcf8f3;
	@include adaptiv-value('padding-top', 44, 30, 1);
	@include adaptiv-value('padding-bottom', 44, 30, 1);

	&__container {
		@media (min-width: $md2+px) {
			display: flex;
		}
	}

	&__body {
		flex: 0 0 math.div(465, 1240)*100%;
		position: relative;
		z-index: 5;
		align-self: center;

		@media (min-width: $md2+px) {
			@include adaptiv-value('padding-right', 80, 30, 1);
		}

		@media (max-width: $md2+px) {
			margin-bottom: 30px;
		}
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: math.div(8, 40)*1em;
			text-align: left;
		}
	}

	&__text {
		line-height: 150%;
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	&__button {
		background-color: $orange-color;
		color: #fff;
		min-width: 180px;

		@media (any-hover: hover) {
			&:hover {
				background-color: darken($orange-color, 10%);
			}
		}
	}

	&__slider {
		flex: 1 1 auto;
		min-width: 0;
		align-self: flex-start;

		@media (max-width: $md4+px) {
			margin: 0 -15px;
		}
	}
}

.slider-rooms {
	position: relative;

	&__body {
		overflow: visible;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: #fcf8f3;
			z-index: 2;
			transform: translate(-100%, 0px);
		}
	}

	&__slide {
		width: 372px;
		position: relative;
		overflow: hidden;
		@include adaptiv-value('min-height', 585, 400, 1);

		&.swiper-slide-active {
			.slider-rooms__image {
				height: 100%;
			}
		}

		@media (max-width: $md4+px) {
			width: 100%;
		}
	}

	&__image {
		transition: height 0.8s ease 0s;
		height: 100%;

		@media (min-width: $md3+px) {
			height: 80%;
		}
	}

	&__content {
		position: absolute;
		color: inherit;
		max-width: 240px;
		@include adaptiv-value('left', 24,15,1);
		@include adaptiv-value('bottom', 24,15,1);
		@include adaptiv-value('padding', 32,15,1);
		background-color: rgba(255,255,255,0.9);
		/* Если браузер поддерживает backdrop-filter */
		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background-color: rgba(255,255,255,0.72);
			backdrop-filter: blur(31px);
		}

		&::before {
			position: absolute;
			bottom: 0;
			right: 0;
			transform: translate(100%, 0);
			width: 48px;
			height: 48px;
			background-color: $orange-color;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	
	&__label {
		
	}

	&__title {
		font-weight: 600;
		@include adaptiv-value('font-size', 28,24,1);
	}

	&__arrows {
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translate(0px, -50%);
		width: calc(100% - 48px);
		left: 24px;
		z-index: 5;
		justify-content: space-between;

		@media (min-width: $md1+px) {
			width: calc(100% + 48px);
			left: -24px;
		}
	}

	&__dotts {
		@media(min-width: $md3+px) {
			position: absolute;
			bottom: 30px;
			left: 396px;
			width: 100%;
		}

		@media (max-width: $md3+px) {
			justify-content: center;
			padding-top: 15px;
		}
	}
}

.label-slider {
	display: grid;
	grid-template-columns: auto 27px auto;
	gap: 8px;
	align-items: center;
	justify-content: start;
	color: $darkGrey-color;

	&:not(:last-child) {
		margin-bottom: 8px;
	}

	&__number {}

	&__line {
		height: 1px;
		background-color: $darkGrey-color;
	}

	&__text {}
}


// tips ====================================================================================================

.tips {
	@include adaptiv-value('padding-top', 44, 30, 1);
	@include adaptiv-value('padding-bottom', 44, 30, 1);

	&__container {}

	&__title {}

	&__slider {}
}

.slider-tips {
	position: relative;

	&__body {
		@include adaptiv-value('margin-left', -32, -15, 1);
		@include adaptiv-value('margin-right', -32, -15, 1);
		@include adaptiv-value('padding', 32, 15, 1);
	}

	&__slide {
		display: flex;
		flex-direction: column;
		transition: box-shadow 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 32px rgba(97,97,97, 0.2); 
			}
		}
	}

	&__image {
		padding: 0 0 math.div(251, 391)*100% 0;
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: 15px;
		flex: 1 1 auto;
		align-items: flex-start;
	}

	&__title {
		flex: 1 1 auto;
		color: inherit;
		font-weight: 600;
		line-height: 120%;
		@include adaptiv-value('font-size', 24, 18, 1);
		transition: color 0.3s ease 0s;

		&:not(:last-child) {
			margin-bottom: math.div(8, 24)*1em;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $orange-color;
			}
		}
	}
	
	&__text {
		color: $grey-color;
		font-size: 14px;
		line-height: 150%;
	}

	&__dotts {
		@include adaptiv-value('padding-top', 8,0,1);
		justify-content: center;
	}

	&__arrows {
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translate(0px, -50%);
		width: calc(100% - 48px);
		left: 24px;
		z-index: 5;
		justify-content: space-between;

		@media (min-width: $md1+px) {
			width: calc(100% + 48px);
			left: -24px;
		}

		@media (max-width: $md3+px) {
			display: none;
		}
	}
}

// furniture  ====================================================================================================

.furniture {
	@include adaptiv-value('padding-bottom', 85,40,1);

	&__container {}

	&__label {
		text-align: center;
		color: $darkGrey-color;
		line-height: 150%;
		@include adaptiv-value('font-size', 20,16,1);
		&:not(:last-child) {
			margin-bottom: math.div(8, 20)*1em;
		}
	}

	&__title {
		margin-bottom: math.div(32, 40)*1em;
	}

	&__body {
		position: relative;
		@media (any-hover: none) {
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}
	}
	
	&__items {
		display: grid;
		grid-template-columns: auto;
		grid-auto-flow: column;
		align-items: center;
		gap: 16px;

		@media (any-hover: hover) {
			justify-content: center;
		}
	}

	&__column {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 -8px;

		&:first-child {
			justify-content: flex-end;
		}
	}

	&__row {
		display: inline-grid;
		padding: 0 8px;
		gap: 16px;
		grid-template-columns: auto;
		grid-auto-flow: column;

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
}

.row-furniture {
	&_left-top {
		justify-content: end;
		align-items: end;
	}

	&_left-bottom {
		justify-content: end;
		align-items: start;
	}

	&_center {
		display: block;
	}

	&_right-top {
		align-items: end;
	}

	&_right-bottom {
		align-items: start;
	}

	&__item  {
		@media(any-hover: hover) {
			img {
				transition: all 0.3s ease 0s;
				filter: grayscale(1);
			}

			&:hover {
				img {
					filter: grayscale(0);
				}
			}
		}
	}
}


//====================================================================================================

