.news{
	background-color: $bg-color-light;
	color: $primary-text-color;
	
	&__text{
		color: darken($primary-color-dark, 10%);
		margin-bottom: rem(35px);
	}
	
	&__box{
		width: 100%;
		height: 100%;
		padding: rem(15px);
		transition: all .4s ease;
		border-radius: 5px;
		position: relative;
		box-shadow:
   		0 1px 4px rgba(0, 0, 0, .3),
   		-23px 0 20px -23px rgba(0, 0, 0, .8),
   		23px 0 20px -23px rgba(0, 0, 0, .8),
			0 0 40px rgba(0, 0, 0, .1) inset;
		
		&:hover{
			transform: scale(1.03);
		}

		@include max991 {
			border-bottom: 1px solid $divider-color;
			box-shadow: none;
			border-radius: 0;

			&:hover{
				transform: none;
			}
		}

		&--link{
			color: $primary-text-color;

			&:hover{
				color: $primary-text-color;
				text-decoration: none;
			}
		}

		&--img{
			max-width: rem(270px);
			margin: 0 auto rem(20px) auto;
			background-color: $divider-color;

			@include max991 {
				border: 3px solid $divider-color;
				border-radius: rem(5px);
			}
		}

		.news__img {
			display: block;
			width: 100%;
		}
		
		&--content{
			text-align: center;
			position: relative;
		}
	}
}