.news-header{
	
	.top-nav-collapse{
		background-color: $bg-collapse-color;
	}

	&__item{
		margin: 0 auto;

		&--link{
			color: $primary-color-text!important;
			transition: all .3s ease;

			&:hover{
				color: $accent-color!important;
			}
		}
	}

	&__icons{
		flex-direction: row;
	}

	.navbar-dark .navbar-nav .active,
	.navbar-dark .navbar-nav .active>.nav-link:hover{
		color: $accent-color!important;
	}
}

.news-sheet{
	min-height: 100vh;
	padding: rem(80px) 0;
	background-color: $bg-color-light;
	color: $primary-text-color;
	position: relative;

	@include max575{
		padding: rem(80px) 0 rem(30px) 0;
	}
	
	&__boxs{
		width: 100%;
		height: 100%;
		margin-bottom: rem(30px);
	}

	&__box{
		display: flex;
		border-bottom: 1px solid $divider-color;
		padding-bottom: rem(10px);
		margin-bottom: rem(10px);

		&--item{
			padding: rem(10px);
			margin: 5px;
			display: block;
			width: 100%;
			height: 100%;
			color: $primary-text-color;
			text-decoration: none;
			text-align: center;
			transition: all .3s ease;

			&:hover{
				background-color: darken($bg-color-light, 5%);
				border-radius: 5px;
				color: $primary-text-color;
				text-decoration: none;
			}
		}

		&--img{
			display: flex;
			justify-content: center;
			position: absolute;
			width: rem(180px);
			height: rem(180px);
			overflow: hidden;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 3px;
			border: 1px solid $divider-color;

			@include max575 {
				position: inherit;
				display: block;
				display: flex;
				justify-content: center;
				max-width: rem(180px);
				max-height: rem(180px);
				left: 0;
				top: 0;
				transform: inherit;
				margin: 0 auto rem(20px) auto;
			}
		}

		&--pic{
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
			border-radius: 3px;
			border: 1px solid $divider-color;

			/* Для IE10 IE11 стили*/
			@media screen and (-ms-high-contrast: active),
			(-ms-high-contrast: none) {
				width: auto;
			}
		}
	}

	&__contant{
		min-height: rem(200px);
		display: flex;
		flex-direction: column;
		justify-content: center;

		&--title{
			font-size: rem(25px);
			margin-bottom: rem(20px);
		}

		&--text{
			font-size: rem(18px);
			margin-bottom: rem(20px);
		}

		&--date{
			font-size: rem(14px);
			color: $primary-color;
		}
	}

	&__pagination{
		display: flex;
		text-align: center;
	}
}

.pagination{
	margin: 0 auto;
}

.page-link{
	background-color: $bg-color-light;

	@include max575{
		font-size: rem(13px);
		padding: rem(5px) rem(10px);
	}

	&:hover{
		background-color: $divider-color;
	}
}

