.news{
	background-color: $bg-color-light;
	color: $primary-text-color;
	
	&__text{
		color: darken($primary-color-dark, 10%);
		margin-bottom: rem(35px);
	}
	
	&__box{
		width: 100%;
		height: 100%;
		padding: rem(15px);
		transition: all .4s ease;
		border-radius: 5px;
		position: relative;
		border: 1px solid $divider-color;
		background-color: darken($bg-color-light, 2%);
				
		&:hover{
			transform: scale(1.03);
		}

		@include max991 {
			border:none;
			border-bottom: 1px solid $divider-color;
			background-color: $bg-color-light;
			border-radius: 0;

			&:hover{
				transform: none;
			}
		}

		&--link{
			display: block;
			color: $primary-text-color;

			&:hover{
				color: $primary-text-color;
				text-decoration: none;
			}
		}

		&--img{
			position: absolute;
			display: flex;
			justify-content: center;
			max-width: rem(270px);
			max-height: rem(270px);
			height: 100%;
			width: 100%;
			overflow: hidden;
			margin: 0 auto rem(20px) auto;
			background-color: $divider-color;
			left: 50%;
			top: 0;
			transform: translate(-50%, 5%);

			@include max991 {
				border: 1px solid $divider-color;
				border-radius: 3px;
			}
		}

		.news__img {
			display: block;
			object-fit: cover;
			height: 100%;
			width: 100%;
						
			/* Для IE10 IE11 стили*/
			@media screen and (-ms-high-contrast: active),
			(-ms-high-contrast: none) {
				width: auto;
			}
		}
		
		&--content{
			padding-top: rem(290px);
			text-align: center;
			position: relative;
		}
	}
}