.news-item{
	min-height: 100vh;
	padding: rem(80px) 0;
	background-color: $bg-color-light;
	color: $primary-text-color;
	
	@include max575{
		padding: rem(80px) 0 rem(30px) 0;
	}
	
	&__wrap{
		position: relative;
		padding: rem(35px);
		box-shadow: 20px 20px 50px 50px rgba($secondary-text-color,0.1);
		margin-bottom: rem(30px);

		@include max767{
			padding: rem(20px);
		}

		@include max575{
			padding: rem(10px);
		}

		&--title{
			font-size: rem(25px);
			margin-bottom: rem(10px);
			font-weight: $weight-bold;
		}

		&--heading{
			margin-top: rem(20px);
		}
		
		&--img{
			margin: 0 auto;
			max-width: rem(320px);
			width: 100%;
			display: block;
			margin-bottom: rem(20px);
			border-radius: rem(5px);
			border: 3px solid $divider-color;
		}

		&--date{
			width: 100%;
			color: $primary-color;
			font-weight: $weight-bold;
			display: inline-block;
			text-align: center;
			margin-bottom: rem(10px);
		}

		&--text{
			font-size: rem(16px);
			line-height: 1.7;
			margin-bottom: rem(10px);

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	&__gallery{
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		box-shadow: 20px 20px 50px 50px rgba($secondary-text-color,0.1);
		padding: rem(20px) rem(10px);

		&--item{
			display: inline-block;
			max-width: 200px;
			margin-right: rem(20px);
		}

		&--img{
			display: block;
			max-width: 100%;
			margin-bottom: rem(20px);
		}
	}
}

//////   Magnific Popup    ////////

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

   transition: all 0.3s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
	transform: scale(0) rotate(90deg);
  transition: all 0.3s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
	transform: scale(1) rotate(0);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}