.products{
	background-color: $primary-text-color;
		
	&__content{
		margin-bottom: rem(70px);

		&--img{
			display: block;
			margin: 0 auto;
			width: 100%;
			max-width: rem(400px);
			border-radius: rem(3px);
			transition: all .3s ease-in-out;
			position: relative;
			border: 2px solid $divider-color;

			@include max991{
				margin: 0 auto rem(30px);
			}
	
			&:hover{
				transform: scale(1.03);
			}
		}

		&--text{
			padding-left: rem(15px);

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	.carousel {
		display: block;
		margin: 0 auto;
		max-width: 992px;
	}

	&__text{
		font-size: rem(16px);
		
		&:last-child{
			margin-bottom: rem(50px);
		}
	}

	.carousel-item{
		
		&::before{
			position: absolute;
			content: '';
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: $secondary-text-color;
			z-index: 1;
			opacity: .4;
		}
	}

	.carousel-item img{
		display: block;
		width: 100%;
	}

	.carousel-caption{
		z-index: 2;
	}
	
	&__carousel{
		&--item.active{
			background-color: $primary-text-color!important;
			opacity: 1;
		}

		&--item{
			background-color: $primary-text-color!important;
			opacity: .3;
		}
	}
	.carousel-caption{
		background-color: rgba($primary-color-text, .7);
		color: $primary-text-color;
	}
}