$img-path: '../img/';

$primary-color-dark:   #007fff;
$primary-color:        #2196F3;
$primary-color-light:  #bbdefb;
$primary-color-text:   #e4e3e3;
$accent-color:         #fab940;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #bdbdbd;
$bg-collapse-color:		 #1a2233;
$bg-color-light:		   #ebebeb;
$red-color:						 #ff4b4b;

$light-font: 'RobotoLight', sans-serif;
$main-font: 'RobotoRegular', sans-serif;
$bold-font: 'RobotoBold', sans-serif;

$base-size: 16px;
$baze-line: 1.6;

$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;