@font-face{
	font-family: 'ProximaNova-Light';
	src: url(../font/ProximaNova-Light.ttf) format('truetype'),
			url(../font/ProximaNova-Light.eot) format('eot'),
			url(../font/ProximaNova-Light.woff) format('woff'),
			url(../font/ProximaNova-Light.woff2) format('woff2');
}

@font-face{
	font-family: 'ProximaNova-Regular';
	src: url(../font/ProximaNova-Regular.ttf) format('truetype'),
			url(../font/ProximaNova-Regular.eot) format('eot'),
      url(../font/ProximaNova-Regular.woff) format('woff'),
			url(../font/ProximaNova-Regular.woff) format('woff');
}

@font-face{
	font-family: 'ProximaNova-Bold';
	src: url(../font/ProximaNova-Bold.ttf) format('truetype'),
			url(../font/ProximaNova-Bold.eot) format('eot'),
      url(../font/ProximaNova-Bold.woff) format('woff'),
			url(../font/ProximaNova-Bold.woff2) format('woff2');
}

@font-face{
	font-family: 'ProximaNova-Extrabold';
	src: url(../font/ProximaNova-Extrabold.ttf) format('truetype'),
			url(../font/ProximaNova-Extrabold.eot) format('eot'),
      url(../font/ProximaNova-Extrabold.woff) format('woff'),
			url(../font/ProximaNova-Extrabold.woff2) format('woff2');
}

@font-face{
	font-family: 'ProximaNova-Black';
	src: url(../font/ProximaNova-Black.ttf) format('truetype'),
			url(../font/ProximaNova-Black.eot) format('eot'),
      url(../font/ProximaNova-Black.woff) format('woff'),
			url(../font/ProximaNova-Black.woff2) format('woff2');
}