$white-color: #ffffff;
$blue-color: #1F65D9;
$dark-blue-color: #233148;
$yellow-color: #FCCF18;
$grey-color: #EAEFF5;

$light-font: 'ProximaNova-Light', sans-serif;
$main-font: 'ProximaNova-Regular', sans-serif;
$bold-font: 'ProximaNova-Bold', sans-serif;
$extrabold-font: 'ProximaNova-Extrabold', sans-serif;
$black-font: 'ProximaNova-Black', sans-serif;

$base-size: 18px;
$base-line: 1.5;

$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;
$weight-bold: 800;
$weight-bold: 900;

$maxWidthContainer: 1232px;