.steps__numbers {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 280px;
    margin-bottom: 40px;

    @include min576 {
        max-width: 450px;
        margin-bottom: 60px;
    }

    @include min992 {
        max-width: 650px;
    }
}

.progress {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $light-grey;
    z-index: -1;

    &__success {
        position: absolute;
        left: 0;
        top: 0;
        height: 2px;
        background-color: $red;
        transition: all 0.5s ease;
    }
}

.steps__number {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid $light-grey;
    background-color: $white;

    &:not(:last-child) {
        margin-right: 20px;

        @include min576 {
            margin-right: 50px;
        }

        @include min992 {
            margin-right: 100px;
        }
    }

    @include min576 {
        width: 50px;
        height: 50px;
    }

    &.active__number {
        background-color: $red;
        border-color: $red;
        transition: all 0.35s ease;

        .icons {
            color: $white;
            transition: all 0.35s ease;
        }
    }
}

.steps {
    &__title {
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 40px;
        max-width: 600px;
    }
}

.step__buttons {
    margin-top: 80px;
    display: flex;
    gap: 20px;
}

.btn-outline.prev__step,
.btn.next__step {
    max-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.form__step {
    display: none;

    &.active {
        display: flex;
        flex-direction: column;
    }
}

.form__input {
    position: relative;
    display: flex;
    max-width: 460px;
    min-height: 60px;
    margin-bottom: 40px;
}

.input {
    padding: 20px 20px 20px 65px;
    border: 1px solid $light-grey;
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    color: $grey;
    font-family: $main-font;
    outline: none;

    &:focus {
        outline: 1px solid $red;
    }
}

.input__img {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.search__input .input__img span{
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.form__item-title {
    font-size: 25px;
    line-height: 28px;
    color: $blue;
    margin-bottom: 20px;
}

.form__inputs-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 930px;
    width: 100%;

    .form__input {
        margin-bottom: 0;
        max-width: 460px;
        width: 100%;
    }
}

.form__textarea {
    width: 100%;
    
    textarea {
        width: 100%;
        min-height: 240px;
        border: 1px solid $light-grey;
        padding: 20px 30px;
        outline: none;
        font-family: $main-font;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: $grey;

        &:focus {
            outline: 1px solid #eb3d35;
        }

        &::placeholder {
            font-family: $main-font;
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            color: $grey;
        }
    }
}
