.header {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;

  @include min768 {
    height: 100vh;
    flex-direction: row;
    overflow: hidden;
  }

  &__wrap {
    margin-bottom: 20px;
  }

  &__item {
    flex: 0 1 50%;

    &.info__item {
        padding: 30px 50px;

        @include min992 {
            padding: 65px 100px;
        }
    }
  }

  &__img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__btn {
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px 18px 30px;
    max-width: 250px;

    span {
      color: $white;
      transition: all 0.3s ease;

      &:hover {
        transform: translateX(10px);
      }
    }
  }

  &__link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    @include min576 {
      flex-direction: row;
    }
    
    span {
      display: flex;
      font-size: 18px;
      color: #747887;
      line-height: 20px;
    }

    a {
      display: flex;
      font-size: 20px;
      line-height: 22px;
      color: #C35B48;
    }
  }
}

.logo {
  padding-bottom: 50px;
  display: flex;

  @include min576 {
    padding-bottom: 90px;
  }
}

.info__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}