.form__item:not(:last-child) {
    margin-bottom: 30px;
}

.interests {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.interest {

    &__item {
        position: relative;
        display: flex;
        padding: 15px 24px;
        background: $white;
        border: 1px solid $light-grey;
        cursor: pointer;
    }

    &__checkbox {
        display: none;

        &:checked ~ .interest__text {
            color: $blue;
        }

        &:checked ~ .interest__border {
            border: 1px solid $blue;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        color: $grey;
    }

    &__border {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid transparent;
    }
}