@font-face{
	font-family: 'HeeboRegular';
	font-weight: 400;
	font-style: normal;
	src: 	url("../fonts/Heebo-Regular.ttf") format('truetype'),
				url("../fonts/Heebo-Regular.woff") format('woff');
}

@font-face{
	font-family: 'HeeboMedium';
	font-weight: 500;
	font-style: normal;
	src: 	url("../fonts/Heebo-Medium.ttf") format('truetype'),
				url("../fonts/Heebo-Medium.woff") format('woff');
}

@font-face{
	font-family: 'HeeboBold';
	font-weight: 700;
	font-style: normal;
	src: 	url("../fonts/Heebo-Bold.ttf") format('truetype'),
				url("../fonts/Heebo-Bold.woff") format('woff');
}

@font-face{
	font-family: 'HeeboBlack';
	font-weight: 900;
	font-style: normal;
	src: 	url("../fonts/Heebo-Black.ttf") format('truetype'),
				url("../fonts/Heebo-Black.woff") format('woff');
}

@font-face{
	font-family: 'icons';
	font-weight: 400;
	font-style: normal;
	src: 	url("../fonts/icons.ttf") format('truetype'),
				url("../fonts/icons.woff") format('woff');
}